<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>评论列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/form.css">
    <script src="/layui/layui.all.js"></script>
    <script src="/js/util.js"></script>
</head>
<body>
<div class="panel panel-default operation_gymComment" hidden>
    <div class="panel-heading title" style="text-align: center"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="deptInfo" style="width: 700px;margin-top: 10px">
            <input name="commentId" hidden/>

            <div class="layui-form-item">
                <label class="layui-form-label">用户Id</label>
                <div class="layui-input-block">
                    <input type="commentCustomerId" name="commentCustomerId" placeholder="请输入用户Id" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">场地Id</label>
                <div class="layui-input-block">
                    <input type="gymId" name="gymId" placeholder="请输入场地Id" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">机关单位Id</label>
                <div class="layui-input-block">
                    <input type="deptId" name="deptId" placeholder="请输入机关单位Id" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-block">
                    <input type="commentCustomerName" name="commentCustomerName" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">用户电话</div>
                <div class="layui-input-block">
                    <input type="commentCustomerPhone" name="commentCustomerPhone" placeholder="请输入用户电话" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">用户身份证号码</div>
                <div class="layui-input-block">
                    <input type="commentCustomerIdentityCard" name="commentCustomerIdentityCard" placeholder="用户身份证号码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">评论星数</div>
                <div class="layui-input-block">
                    <input type="commentStars" name="commentStars" placeholder="请输入评论星数" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">评论号Tag</div>
                <div class="layui-input-block">
                    <input type="commentTags" name="commentTags" placeholder="请输入评论Tag用#分隔, 1#2#12#32" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">标签Tag内容</div>
                <div class="layui-input-block">
                    <input type="commentTagContent" name="commentTagContent" placeholder="评论Tag内容" autocomplete="off" class="layui-input"
                           >
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">评论内容</div>
                <div class="layui-input-block">
                    <input type="commentDetail" name="commentDetail" placeholder="评论内容" autocomplete="off" class="layui-input"
                           >
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">机关单位回复</div>
                <div class="layui-input-block">
                    <input type="commentAnswer" name="commentAnswer" placeholder="机关单位回复" autocomplete="off" class="layui-input"
                           >
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default response_gymComment" hidden>
    <div class="panel-heading title" style="text-align: center"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="" style="width: 700px;margin-top: 10px">
            <input name="commentId" hidden/>

            <div class="layui-form-item">
                <div class="layui-form-label ">回复评论</div>
                <div class="layui-input-block">
                    <input type="commentAnswer" name="commentAnswer" placeholder="回复评论" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" id="response" lay-filter="">回复</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="gymComment_table_div">
    <div id="searchParam" shiro:hasPermission="sys:gymComment:list">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="commentCustomerName" class="layui-input" autocomplete="off" placeholder="请输入用户名">
            </div>

            <div class="layui-input-inline">
                <input type="text" id="commentStars" class="layui-input" autocomplete="off" placeholder="请输入评论星数">
            </div>

            <div class="layui-input-inline">
                <input type="text" id="commentCustomerPhone" class="layui-input" autocomplete="off" placeholder="请输入评论者电话号码">
            </div>

            <div class="layui-input-inline layui-form">
                <select id="commentStatus">
                    <option value="">请选择状态</option>
                    <option value="1">已读</option>
                    <option value="0">未读</option>
                </select>
            </div>

            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="createTime" placeholder="选择创建时间区间">
            </div>

            <div class="layui-input-inline layui-form" id="deptSelect" style="display:none;">
                <select id="deptInfo" name="deptId">
                </select>
            </div>
            <div class="layui-input-inline layui-form" id="gymSelect" style="display:none;">
                <select id="gymInfo" name="gymId">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <button id="Reset" type="reset" class="layui-btn layui-btn-primary" style="margin-top: 0px">
                    <i class="layui-icon layui-icon-fonts-clear"></i> 清 空
                </button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="gymComment_table" lay-filter="gymComment_table"></table>
    <div id="laypage" class= "$(" .layui-laypage-btn").click();"></div>
</div>
<div id="deptTree" style="display: none"></div>
<div id="roles" class="demo-transfer" style="display: none"></div>
</body>
<script type="text/html" id="toolbar">
    <div class="layui-btn-group" id="search">
        <button type="button" class="layui-btn" lay-event="search" >
            <i class="layui-icon">&#xe615;</i> 开始检索
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-danger" lay-event="batchDeleted"
                shiro:hasPermission="sys:gymComment:deleted">
            <i class="layui-icon">&#xe608;</i> 批量删除
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-normal" lay-event="addNewUser"
                shiro:hasPermission="sys:gymComment:add">
            <i class="layui-icon">&#xe608;</i> 新增评论
        </button>
    </div>
</script>
<script type="text/html" id="tool">
    {{#  if(d.commentStatus == 1){ }}
    <a class="layui-btn layui-btn-xs" lay-event="closeGym" shiro:hasPermission="sys:gym:update">
        已读
    </a>
    {{#  } else{ }}
    <a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="read" shiro:hasPermission="sys:gymComment:update">
        未读
    </a>
    {{#  } }}

    <a class="layui-btn layui-btn-xs" lay-event="response" shiro:hasPermission="sys:gymComment:update">回复</a>
<!--    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:gymComment:update">编辑</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sys:gymComment:deleted">删除</a>
</script>
<script type="text/html" id="sexTpl">
    {{#  if(d.commentStatus == 1){ }}
    <span style="color: #fe5395;">已读</span>
    {{#  } else{ }}
    <span style="color: #17a2b8;">未读</span>
    {{#  } }}
</script>
<script>
    var table = layui.table;
    var laypage = layui.laypage
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var transfer = layui.transfer;

    //清空条件
    $('#Reset').on('click', function(){
        console.log("清空")
        $("#commentCustomerName").val("");
        $("#commentStars").val("");
        $("#commentCustomerPhone").val("");
        $("#commentStatus").val("请选择状态");
        $("#deptInfo").val("所有机关单位");
        $("#gymInfo").val("所有场馆");
        $("#createTime").val("");
        form.render("select") //重新渲染单下拉框
    });

    layui.use(['table', 'laypage', 'layer', 'laydate', 'tree', 'transfer'], function () {
        form.render();
        var searchParam = {
            commentCustomerName: null,
            commentStars: null,
            commentCustomerPhone:null,
            commentStatus:null,
            deptId:null,
            gymId:null,
            createTime: null,
            startTime: null,
            endTime: null,
            pageNum: 1,
            pageSize: 10
        }

        //填充类型：要放layui里面，不然request无效
        CoreUtil.sendAjax("/sys/getAllDept", null, function (res) {
            console.log("获取机关单位.......")
            if (res.data != null) {
                document.getElementById("deptSelect").style.display="block";
                var types = res.data;
                console.log("type:" + JSON.stringify(types))
                var typeK = document.getElementById("deptInfo");
                typeK.options.length = 0;//清空
                typeK.options.add(new Option("所有机关单位", ""));
                for (var index = 0; index < types.length; index++) {
                    console.log("type:"+types[index]);
                    var name = types[index].name;
                    var tid = types[index].id;
                    typeK.options.add(new Option(name, tid));//Option("文本","值")
                }
                // typeK.innerText=typeInner;
                form.render();//不添加不会显示
            }
        }, "POST", false, function (res) {
            // layer.msg("抱歉！您暂无获取机关单位的权限");
        });
        CoreUtil.sendAjax("/sys/getGymListByDept", null, function (res) {
            console.log("获取场馆.......")
            if (res.data != null) {
                document.getElementById("gymSelect").style.display="block";
                var types = res.data;
                // console.log("type:" + JSON.stringify(types))
                var typeK = document.getElementById("gymInfo");
                typeK.options.length = 0;//清空
                typeK.options.add(new Option("所有场馆", ""));
                for (var index = 0; index < types.length; index++) {
                    console.log("type:"+types[index]);
                    var name = types[index].gymName;
                    var tid = types[index].gymId;
                    typeK.options.add(new Option(name, tid));//Option("文本","值")
                }
                // typeK.innerText=typeInner;
                form.render();//不添加不会显示
            }
        }, "GET", false, function (res) {
            // layer.msg("抱歉！您暂无获取机关单位的权限");
        });

        CoreUtil.sendAjax("/sys/gymComments", JSON.stringify(searchParam), function (res) {
            laypageTable(res.data.totalRows, searchParam.pageNum);
            if (res.data.list != null) {
                loadTable(res.data.list);
            }
        }, "POST", false, function (res) {
            layer.msg("抱歉！您暂无获取评论列表的权限");
            var noAuthorityData = [];
            loadTable(noAuthorityData);
        });
        var laypageTable = function (count, currentPage) {
            laypage.render({
                elem: 'laypage'
                , count: count
                , limit: searchParam.pageSize
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , curr: location.hash.replace('#!currentPage=', '') //获取起始页
                , hash: 'currentPage' //自定义hash值
                , jump: function (obj, first) {
                    if (!first) {
                        searchParam.pageNum = obj.curr;
                        searchParam.pageSize = obj.limit;
                        CoreUtil.sendAjax("/sys/gymComments", JSON.stringify(searchParam), function (res) {
                            if (res.data.list != null) {
                                loadTable(res.data.list);
                                laypageTable(res.data.totalRows, searchParam.pageNum);
                            }
                        }, "POST", false, function (res) {
                            layer.msg("抱歉！您暂无获取评论列表的权限");
                            var noAuthorityData = [];
                            loadTable(noAuthorityData);
                        });
                    }
                }
            });
        };
        //渲染table
        var loadTable = function (data) {
            table.render({
                elem: '#gymComment_table'
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'commentCustomerName', align: 'center', title: '用户名', width: 110},
                        {field: 'commentCustomerPhone', align: 'center', title: '手机号', width: 120},
                        {field: 'commentCustomerIdentityCard', align: 'center', title: '身份证号', width: 120},
                        {field: 'commentStars', align: 'center', title: '评论星数'},
                        {field: 'commentStatus', title: '状态', align: 'center', width: 60, templet: '#sexTpl'},
                        {field: 'commentTagContent', align: 'center', title: '评论标签内容'},
                        {field: 'commentDetail', align: 'center', title: '评论内容'},
                        {
                            field: 'gymName', align: 'center', title: '场馆名称', align: 'center', templet: function (data) {
                                return data.gym.gymName;
                            }
                        },
                        {
                            field: 'deptName', align: 'center', title: '机关单位', align: 'center', templet: function (data) {
                                return data.dept.name;
                            }
                        },
                        {field: 'commentAnswer', align: 'center', title: '机关单位回复内容'},
                        {
                            field: 'createTime', align: 'center', title: '创建时间', width: 170, templet: function (item) {
                                return CoreUtil.formattime(item.createTime);
                            }
                        },
                        {width: 250, align: 'center', toolbar: "#tool", title: '操作'}
                    ]
                ]
                , data: data
                , even: true
                , limit: data.length
                , limits: [10, 20, 30, 50, 100]
                , toolbar: '#toolbar'
            });
        };
        laydate.render({
            elem: '#createTime'
            , type: 'datetime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != undefined && value != "") {
                    searchParam.startTime = value.split("~")[0];
                    searchParam.endTime = value.split("~")[1];
                } else {
                    searchParam.startTime = null;
                    searchParam.endTime = null;
                }
            }
        });


        table.on('toolbar(gymComment_table)', function (obj) {

            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的用户");
                    } else {
                        var userIds = [];
                        $(data).each(function (index, item) {
                            userIds.push(item.id);
                        });
                        tipDialog(userIds, "选中的");
                    }
                    break;
                case 'addNewUser':
                    form.render();
                    $(".title").html("新增用户");
                    $(".gymComment_table_div").hide();
                    $(".operation_gymComment").show();
                    $(".operation_gymComment input[name=commentId]").val("");
                    $(".operation_gymComment input[name=gymId]").val("");
                    $(".operation_gymComment input[name=deptId]").val("");
                    $(".operation_gymComment input[name=commentCustomerId]").val("");
                    $(".operation_gymComment input[name=commentCustomerName]").val("");
                    $(".operation_gymComment input[name=commentCustomerPhone]").val("");
                    $(".operation_gymComment input[name=commentCustomerIdentityCard]").val("");
                    $(".operation_gymComment input[name=commentStars]").val("");
                    $(".operation_gymComment input[name=commentTags]").val("");
                    $(".operation_gymComment input[name=commentTagContent]").val("");
                    $(".operation_gymComment input[name=commentDetail]").val("");
                    $(".operation_gymComment input[name=commentAnswer]").val("");
                    form.render(); //更新全部
                    break;
                case 'search':
                    searchParam.commentCustomerName = $("#commentCustomerName").val();
                    searchParam.commentStars = $("#commentStars").val();
                    searchParam.commentCustomerPhone = $("#commentCustomerPhone").val();
                    searchParam.commentStatus = $("#commentStatus").val();
                    searchParam.createTime = $("#createTime").val();
                    searchParam.deptId = $("#deptInfo").val();
                    searchParam.gymId = $("#gymInfo").val();
                    searchParam.pageNum = 1;
                    CoreUtil.sendAjax("/sys/gymComments", JSON.stringify(searchParam), function (res) {
                        laypageTable(res.data.totalRows, searchParam.pageNum);
                        if (res.data.list != null) {
                            loadTable(res.data.list);
                        }
                    }, "POST", false, function (res) {
                        layer.msg("抱歉！您暂无获取用户列表的权限");
                        var noAuthorityData = [];
                        loadTable(noAuthorityData);
                    });
                    break;
            }
            ;
        });
        table.on('tool(gymComment_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var userIds = [];
                    userIds.push(data.commentId);
                    tipDialog(userIds, "选中的");
                    break;
                case 'edit':
                    $(".gymComment_table_div").hide();
                    $(".operation_gymComment").show();
                    $(".title").html("编辑用户");
                    $(".operation_gymComment input[name=commentId]").val(data.commentId);
                    $(".operation_gymComment input[name=gymId]").val(data.gymId);
                    $(".operation_gymComment input[name=deptId]").val(data.deptId);
                    $(".operation_gymComment input[name=commentCustomerId]").val(data.commentCustomerId);
                    $(".operation_gymComment input[name=commentCustomerName]").val(data.commentCustomerName);
                    $(".operation_gymComment input[name=commentCustomerPhone]").val(data.commentCustomerPhone);
                    $(".operation_gymComment input[name=commentCustomerIdentityCard]").val(data.commentCustomerIdentityCard);
                    $(".operation_gymComment input[name=commentStars]").val(data.commentStars);
                    $(".operation_gymComment input[name=commentTags]").val(data.commentTags);
                    $(".operation_gymComment input[name=commentTagContent]").val(data.commentTagContent);
                    $(".operation_gymComment input[name=commentDetail]").val(data.commentDetail);
                    $(".operation_gymComment input[name=commentAnswer]").val(data.commentAnswer);
                    form.render(); //更新全部
                    break;
                case 'read':
                    var commentId = data.commentId;
                    var username = data.commentCustomerName;
                    read(commentId,username);
                    break;
                case 'response':
                    $(".gymComment_table_div").hide();
                    $(".response_gymComment").show();
                    $(".title").html("回复评论");
                    $(".response_gymComment input[name=commentId]").val(data.commentId);
                    $(".response_gymComment input[name=commentAnswer]").val(data.commentAnswer);
                   /* var commentId = data.commentId;
                    var commentAnswer = data.commentAnswer;
                    console.log("回复信息："+data.commentId+"-"+data.commentAnswer)*/
                    form.render(); //更新全部
                    // response(commentId,commentAnswer);
                    break;
            }
        });
        $("#btn_cancel").click(function () {
            $(".gymComment_table_div").show();
            $(".operation_gymComment").hide();
            return false;
        });
        $("#response").click(function () {
            var commentId=$(".response_gymComment input[name=commentId]").val();
            var commentAnswer=$(".response_gymComment input[name=commentAnswer]").val();
            var str={"commentId":commentId,"commentAnswer":commentAnswer}
            console.log("回复："+str)
            CoreUtil.sendAjax("/sys/responseComment", JSON.stringify(str), function (res) {
                layer.msg(res.msg);
                $(".layui-laypage-btn").click();
              /*  $(".gymComment_table_div").show();
                $(".response_gymComment").hide();*/
                // return false;
            }, "POST", false, function (res) {
                layer.msg("抱歉！您暂无回复评论的权限");
            });
        });
        var tipDialog = function (userIds, username) {
            layer.open({
                content: '确定要删除' + username + "评论么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/sys/gymComment", JSON.stringify(userIds), function (res) {
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "DELETE", false, function (res) {
                        layer.msg("抱歉！您暂无删除用户的权限");
                    });
                }
            });
        };
        var read = function (commentId,username) {
            console.log("已读功能")
            layer.open({
                content: '确定要已读' + username + "的评论么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/sys/readComment", JSON.stringify(commentId), function (res) {
                        // console.log("返回信息："+res.msg)
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "POST", false, function (res) {
                        layer.msg("抱歉！您暂无已读评论的权限");
                    });
                }
            });
        };
        var response = function (commentId,commentAnswer) {
            console.log("回复评论功能")
            layer.open({
                content: "确定要回复评论么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/sys/responseComment", JSON.stringify(commentId,commentAnswer), function (res) {
                        // console.log("返回信息："+res.msg)
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "POST", false, function (res) {
                        layer.msg("抱歉！您暂无回复评论的权限");
                    });
                }
            });
        };
        form.on('switch(switch)', function () {
            $(".operation_gymComment input[name=status]").attr('type', 'hidden').val(this.checked ? 1 : 2);

        });
        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendAjax("/sys/gymComment", JSON.stringify(data.field), function (res) {
                    $(".gymComment_table_div").show();
                    $(".operation_gymComment").hide();
                    $(".layui-laypage-btn").click();
                }, "POST", false, function (res) {
                    layer.msg("抱歉！您暂无新增用户的权限");
                });
            } else {
                CoreUtil.sendAjax("/sys/gymComment", JSON.stringify(data.field), function (res) {
                    $(".gymComment_table_div").show();
                    $(".operation_gymComment").hide();
                    $(".layui-laypage-btn").click();
                }, "PUT", false, function (res) {
                    layer.msg("抱歉！您暂无编辑用户的权限");
                });
            }
            return false;
        });
        var loadDeptTree = function (data) {
            tree.render({
                elem: '#deptTree'
                , data: data
                , onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                , click: function (obj) {
                    selectNode = obj;
                    layer.msg(JSON.stringify(selectNode.data.title));
                }
            });
        };
        $(".operation_gymComment input[name=deptName]").click(function () {
            layer.open({
                type: 1,
                offset: '0px',
                skin: 'layui-layer-molv',
                title: "选择部门",
                area: ['400px', '550px'],
                shade: 0,
                shadeClose: false,
                content: jQuery("#deptTree"),
                btn: ['确定', '取消'],
                yes: function (index) {
                    if (selectNode.data != null) {
                        //选中回显
                        $(".operation_gymComment input[name=deptId]").val(selectNode.data.id);
                        $(".operation_gymComment input[name=deptName]").val(selectNode.data.title);
                    }

                    layer.close(index);
                }
            });
        });
        var initTree = function (id) {
            var param = {deptId: id}
            CoreUtil.sendAjax("/sys/dept/tree", param, function (res) {
                loadDeptTree(res.data);
            }, "GET", false, function (res) {
                layer.msg("抱歉！您暂无获取部门树的权限");
                var noAuthorityData = [];
                loadDeptTree(noAuthorityData);
            });
        };
        var initTransfer = function (data) {
            transfer.render({
                elem: '#roles'
                , data: data.allRole
                , title: ['赋予角色', '拥有角色']
                , showSearch: true
                , value: data.ownRoles
                , id: 'ownData'
                , parseData: function (res) {
                    return {
                        "value": res.id //数据值
                        , "title": res.name //数据标题
                    }
                }
            })
        }
    });
</script>
</html>