<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>场地列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/layui-select-ext-master/layui/css/layui.css" media="all" />

    <script src="/layui/layui.all.js"></script>
    <script src="/js/util.js"></script>
    <style type="text/css">
        <!-- 用于显示时分 -->
        .layui-laydate-content {
            padding-bottom: 0px;
            width:50%;
            overflow: hidden;
        }
      /*  .laydate-time-list:last-child{
            display: none;
        }*/

    </style>
</head>

<body>

<div class="panel panel-default operation_gym" hidden>
    <div class="panel-heading title" style="text-align: center"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="deptInfo" style="width: 700px;margin-top: 10px">
            <input name="gymId" hidden/>
            <input name="deptId" hidden/>

            <div class="layui-form-item">
                <label class="layui-form-label">场馆名称</label>
                <div class="layui-input-block">
                    <input type="gymName" name="gymName" placeholder="请输入场馆名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">场馆电话</div>
                <div class="layui-input-block">
                    <input type="gymPhone" lay-verify="required|telephone" name="gymPhone"
                           value="18373667221"
                           placeholder="请输入场馆电话" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">场馆最大可容纳人数</div>
                <div class="layui-input-block">
                    <input type="gymCapacity"  name="gymCapacity"
                           value="100"
                           placeholder="请输入最大人数" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!-- 上传场馆图片.  -->
            <!-- todo -->

            <!-- 周一到周天开放的时间 -->
            <!-- todo -->
            <div class="layui-form-item">
                <label class="layui-form-label">周一到周五开放时间</label>
                <div class="layui-input-block">
                    上午
                    <input type="text" id="workDay1" class="layui-input" name="workDay1"
                           placeholder="周一到周五开放时间: 例如 9:00-11:30 1:00-5:00" autocomplete="off" >
                    下午
                    <input type="text" id="workDay2" class="layui-input" name="workDay2"
                           placeholder="周一到周五开放时间: 例如 9:00-11:30 1:00-5:00" autocomplete="off" >
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">周六周天开放时间</label>
                <div class="layui-input-block">
                    上午:<input type="saturday" id="weekend1" class="layui-input" name="weekend1"
                           placeholder="周一到周五开放时间: 例如 9:00-11:30 1:00-5:00,不开放则为不填" autocomplete="off" >

                    下午:<input type="saturday" id="weekend2" class="layui-input" name="weekend2"
                              placeholder="周一到周五开放时间: 例如 9:00-11:30 1:00-5:00,不开放则为不填" autocomplete="off" >
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-form-label ">节假日是否开放</div>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-form">
                        <select name="openOnHoliday" id="openOnHolidayUpdate">
                            <option value="">请选择</option>
                            <option value="0">不开放</option>
                            <option value="1">开放</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">场馆类型</div>
                <!--<div class="layui-input-block">
                    <input type="gymTypes"  name="gymTypes" placeholder="请输入场馆类型" autocomplete="off" class="layui-input">
                </div>-->
                <div class="layui-input-block" id="tag_ids2">

                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-form-label ">场馆地理位置</div>
                <div class="layui-input-block">
                    <input type="text" name="gymPosition" placeholder="请输入场馆地理位置" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!-- 根据部门名称 拿到部门id -->
            <div class="layui-form-item">
                <div class="layui-form-label ">所属部门</div>
                <div class="layui-input-block">
                    <input type="deptName" name="deptName" placeholder="请选择所属部门" autocomplete="off" class="layui-input"
                           readonly="readonly" style="background:#eeeeee!important">
                </div>
            </div>

            <!-- gps 地理位置 -->
            <div class="layui-form-item">
                <label class="layui-form-label">经度</label>
                <div class="layui-input-block">
                    <input type="number" name="longitude" placeholder="请输入场馆经度" oninput="if(value>180)value=180;if(value<-180)value=-180" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">纬度</label>
                <div class="layui-input-block">
                    <input type="text" name="latitude" placeholder="请输入场馆纬度" oninput="if(value>85)value=85;if(value<-85)value=-85" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">场馆描述</label>
                <div class="layui-input-block">
                    <input type="text" name="gymDetails" placeholder="请输入场馆描述" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="gym_table_div">
    <div id="searchParam" shiro:hasPermission="sys:gym:list">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="gymName" class="layui-input" autocomplete="off" placeholder="请输入场地名称">
            </div>

            <div class="layui-input-inline layui-form">
                <select id="openOnHoliday">
                    <option value="">节假日是否开放</option>
                    <option value="1">开放</option>
                    <option value="2">不开放</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="createTime" placeholder="选择创建时间区间" style="width: 290px">
            </div>
            <div class="layui-input-inline" style="margin-right: 140px">
                <!--                <input type="text" id="gymTypes" class="layui-input" autocomplete="off" placeholder="请输入场地类型">-->
                <div class="layui-input-block" id="tag_ids1">

                </div>
            </div>

            <div class="layui-input-inline layui-form" id="deptSelect" style="display: none">
                <select id="deptInfo" name="deptId">
                </select>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <button id="Reset" type="reset" class="layui-btn layui-btn-primary">
                    <i class="layui-icon layui-icon-fonts-clear"></i> 清 空
                </button>
            </div>
        </div>
    </div>

    <!--changed -->
    <table class="layui-hide" id="gym_table" lay-filter="gym_table"></table>
    <div id="laypage" class= "$(" .layui-laypage-btn").click();"></div>
</div>
<div id="deptTree" style="display: none"></div>
<div id="roles" class="demo-transfer" style="display: none"></div>
</body>
<script type="text/html" id="toolbar">
    <div class="layui-btn-group" id="search">
        <button type="button" class="layui-btn" lay-event="search" >
            <i class="layui-icon">&#xe615;</i> 开始检索
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-danger" lay-event="batchDeleted"
                shiro:hasPermission="sys:gym:deleted">
            <i class="layui-icon">&#xe608;</i> 批量删除
        </button>
    </div>
    <!--changed -->
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-normal" lay-event="addNewGym"
                shiro:hasPermission="sys:gym:add">
            <i class="layui-icon">&#xe608;</i> 新增场地
        </button>
    </div>
    <!--一键审批 -->
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-danger" lay-event="autopass"
                shiro:hasPermission="sys:gym:update">
            <i class="layui-icon">&#xe608;</i> 一键审批
        </button>
    </div>
</script>
<script type="text/html" id="tool">
    {{#  if(d.toDayIsClose == 1){ }}
    <a class="layui-btn layui-btn-xs layui-bg-orange" lay-event="" shiro:hasPermission="sys:gym:update">
    已闭馆
    </a>
    {{#  } else{ }}
    <a class="layui-btn layui-btn-xs" lay-event="closeGym" shiro:hasPermission="sys:gym:update">
        闭馆
    </a>
    {{#  } }}

    <a class="layui-btn layui-btn-xs" lay-event="picture" shiro:hasPermission="sys:gym:update">场地图片</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:gym:update">场馆信息</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sys:gym:deleted">删除</a>
</script>
<script type="text/html" id="sexTpl">
    {{#  if(d.sex == 2){ }}
    <span style="color: #fe5395;">女</span>
    {{#  } else if(d.sex == 1){ }}
    <span style="color: #48c202;">男</span>
    {{#  } else{ }}
    <span style="color: #17a2b8;">保密</span>
    {{#  } }}
</script>
<script type="text/html" id="sourceTpl">
    {{#  if(d.openOnHoliday == 1){ }}
    <span style="color: #0053c6;">开放</span>
    {{#  } else{ }}
    <span style="color: #c40b53;">不开放</span>
    {{#  } }}
</script>

<!--<script charset="UTF-8" src="/layui-select-ext-master/layui/layui.js"></script>-->
<script>
    var table = layui.table;
    var laypage = layui.laypage
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var transfer = layui.transfer
    var mobile = /^1[3|4|5|7|8]\d{9}$/,phone = /^0\d{2,3}-?\d{7,8}$/;
    var upload = layui.upload;
    // 图片上传..
    // 上传文件队列
    var uploadList = {};
    // 文件列表dom
    var fileListDom = $('.file-list');

    var exerciseTypeNum=0;
    //多选下拉框
    var tagIns1;
    var tagIns2;

    //清空条件
    $('#Reset').on('click', function(){
        console.log("清空")
        $("#createTime").val("");
        $("#openOnHoliday").val("节假日是否开放");
        $("#deptInfo").val("所有机关单位");
        $("#gymTypes").val("");
        $("#gymName").val("");
        //多选下拉框
        tagIns1.set();//默认值
        form.render("select") //重新渲染单下拉框
    });

    function checkFileNum(fileObj,n1,n2){
        if (window.File && window.FileList) {
            var fileCount = fileObj.files.length;
            if (fileCount < n1 || fileCount > n2) {
                window.alert('文件数不能小于' + n1 + '个，也不能超过' + n2 + '个，你选择了' + fileCount + '个');
                fileObj.value=null;
                return false;
            }
        }
    }


    layui.extend({//拓展一个模块别名
        selectN: '/layui/selectN',
        selectM: '/layui/selectM',
    }).use(['table', 'laypage', 'layer', 'laydate', 'tree', 'transfer','selectN','selectM'], function () {
        //下拉多选框

        var selectN = layui.selectN
            ,selectM = layui.selectM;
        //多选标签-基本配置
        // var tagData = [{"id":12,"name":"长者","status":0},{"id":13,"name":"工厂"},{"id":14,"name":"小学生"},{"id":15,"name":"大学生"},{"id":16,"name":"研究生"},{"id":17,"name":"教师"},{"id":18,"name":"记者"}];
        var tagData = [];


        //填充类型
        CoreUtil.sendAjax("/sys/getExerciseType", null, function (res) {
          console.log("获取运动类型.......")
          if (res.data != null) {
              var types=res.data;
              exerciseTypeNum=types.length;
              //处理tagData
              for(var index=0;index<types.length;index++){
                  var name=types[index].typeName;
                  var tid=types[index].typeId;
                  var type={"id":tid,"name":name,"status":1};
                  tagData.push(type);
                  // table.render();
              }
              // console.log("tagData:"+JSON.stringify(tagData))
              //重新赋值一遍
              tagIns1 = selectM({
                  //元素容器【必填】
                  elem: '#tag_ids1'
                  //候选数据【必填】
                  ,data: tagData
                  ,max:exerciseTypeNum
                  ,width:200
                  ,//空值项提示
                  tips:"请选择运动类型"
                  //添加验证
                  ,verify:'required'
              });
              //这个是新增与修改的
              tagIns2 = selectM({
                  //元素容器【必填】
                  elem: '#tag_ids2'
                  //候选数据【必填】
                  ,data: tagData
                  ,max:exerciseTypeNum
                  ,width:400
                  ,//空值项提示
                  tips:"请选择运动类型"
                  //添加验证
                  ,verify:'required'
              });
          }
        }, "GET", false, function (res) {
          layer.msg("抱歉！您暂无获取类型的权限");
        });
       /* form.on('submit(demo)',function(data){
            console.log('tagIns1 当前选中的值名：',tagIns1.selected);
            console.log('tagIns1 当前选中的值：',tagIns1.values);
            console.log('tagIns1 当前选中的名：',tagIns1.names);
            console.log('');
            var formData = data.field;
            console.log('表单对象：',formData);
        })
        //通过js动态选择
        $('.set2').click(function(){
            tagIns1.set([12,13,14,15]);
        });*/
        //监听重置按钮
        $('form').find(':reset').click(function(){
            $('form')[0].reset();
            tagIns1.set();//默认值
            return false;
        });

        //下拉多选框
        form.render();
        form.verify({
            telephone: function(value){
                var flag = mobile.test(value) || phone.test(value);
                if(!flag){
                    return '请输入正确座机号码或手机号';
                }
            }
        });

        var searchParam = {
            gymName:null,
            gymTypes:null,
            openOnHoliday:null,
            deptId:null,
            exerciseType:null,
            createTime: null,
            pageNum: 1,
            pageSize: 10
        }

        //填充类型：要放layui里面，不然request无效
        CoreUtil.sendAjax("/sys/getAllDept", null, function (res) {
            console.log("获取机关单位.......")
            if (res.data != null) {
                document.getElementById("deptSelect").style.display="block";
                var types = res.data;
                console.log("type:" + JSON.stringify(types))
                var typeK = document.getElementById("deptInfo");
                typeK.options.length = 0;//清空
                typeK.options.add(new Option("所有机关单位", ""));
                for (var index = 0; index < types.length; index++) {
                    console.log("type:"+types[index]);
                    var name = types[index].name;
                    var tid = types[index].id;
                    typeK.options.add(new Option(name, tid));//Option("文本","值")
                }
                // typeK.innerText=typeInner;
                form.render();//不添加不会显示
            }
        }, "POST", false, function (res) {
            // layer.msg("抱歉！您暂无获取机关单位的权限");
        });

        CoreUtil.sendAjax("/sys/gyms", JSON.stringify(searchParam), function (res) {
            laypageTable(res.data.totalRows, searchParam.pageNum);
            if (res.data.list != null) {
                loadTable(res.data.list);
            }
        }, "POST", false, function (res) {
            layer.msg("抱歉！您暂无获取用户列表的权限");
            var noAuthorityData = [];
            loadTable(noAuthorityData);
        });

        var laypageTable = function (count, currentPage) {
            laypage.render({
                elem: 'laypage'
                , count: count
                , limit: searchParam.pageSize
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , curr: location.hash.replace('#!currentPage=', '') //获取起始页
                , hash: 'currentPage' //自定义hash值
                , jump: function (obj, first) {
                    if (!first) {
                        searchParam.pageNum = obj.curr;
                        searchParam.pageSize = obj.limit;
                        CoreUtil.sendAjax("/sys/gyms", JSON.stringify(searchParam), function (res) {
                            if (res.data.list != null) {
                                loadTable(res.data.list);
                                laypageTable(res.data.totalRows, searchParam.pageNum);
                            }
                        }, "POST", false, function (res) {
                            layer.msg("抱歉！您暂无获取用户列表的权限");
                            var noAuthorityData = [];
                            loadTable(noAuthorityData);
                        });
                    }
                }
            });
        };

        //渲染table
        var loadTable = function (data) {
            table.render({
                elem: '#gym_table'
                ,cellMinWidth: 80 //使得宽度自适应
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        {field: 'gymName', align: 'center', title: '场地名称'},
                        // {field: 'deptName', align: 'center', title: '所属部门', width: 90},
                        {
                            field: 'deptName', align: 'center', title: '机关单位', align: 'center', templet: function (data) {
                                return data.dept.name;
                            }
                        },
                        {field: 'gymPhone', align: 'center', title: '场地电话号码', width: 150},
                        {field: 'gymCapacity', align: 'center', title: '最大可容纳人数', width: 120,hide:true},
                        {field: 'gymTypes', align: 'center', title: '场地类型',templet: function (data) {
                                let tagListStr = "";
                                let types=data.gymTypes.split("-");
                                // console.log("types:"+JSON.stringify(types));
                                for(let t=0;t<types.length;t++){
                                    // console.log("tagData:"+JSON.stringify(tagData))
                                    //types取值记得-1，不然要超出界限，或者undefined
                                    for(let td=0;td<tagData.length;td++){//可能出现类型被删除找不到，所以要做遍历查找
                                        if(tagData[td].id==types[t]){
                                            let str = '<span class="layui-badge" style="background-color: pink;' +
                                                'color: #666666;margin-right: 3px">' + tagData[td].name + '</span>';
                                            tagListStr += str;
                                        }
                                    }
                                }
                                return tagListStr.length==0?"空":tagListStr;
                            }
                        },
                        {field: 'openOnHoliday', align: 'center', title: '节假日是否开放', width: 80, templet: '#sourceTpl'},
                        {field: 'gymPosition', align: 'center', title: '场地地址',hide:true},
                        {field: 'gymDetails', align: 'center', title: '场地描述',hide:true},
                        {field: 'monday', align: 'center', title: '周一至周五开放时间',width:200},
                        {field: 'saturday', align: 'center', title: '周六周天开放时间',width:200},
                        {field: 'gymGps', align: 'center', title: '经纬度'},
                        {
                            field: 'createTime', align: 'center', title: '创建时间',hide:true, width: 170, templet: function (item) {
                                return CoreUtil.formattime(item.createTime);
                            }
                        },
                        {align: 'center', toolbar: "#tool", title: '操作',width:350}
                    ]
                ]
                , data: data
                , even: true
                , limit: data.length
                , limits: [5, 10, 20, 30, 50, 100]
                , toolbar: '#toolbar'
            });
        };

        laydate.render({
            elem: '#createTime'
            , type: 'datetime'
            , range: '~'
            ,theme: 'molv'
            , done: function (value, date, endDate) {
                if (value != null && value != undefined && value != "") {
                    console.log("非空")
                    searchParam.startTime = value.split(" ~ ")[0];
                    searchParam.endTime = value.split(" ~ ")[1];
                } else {
                    console.log("空")
                    searchParam.startTime = null;
                    searchParam.endTime = null;
                }
            }
        });
        //场馆开放时间
        laydate.render({
            elem: '#workDay1',
            range: '-',
            theme: 'molv',
            type:"time",
            trigger:"click",
            format:"HH:mm",
            min: '08:00:00',
            max: "12:00:00",
            done: function (value, date,endDate) {
                // 结束时间大于开始时间
                validTime(value,"workDay1");
            }
        });
        laydate.render({
            elem: '#workDay2',
            range: '-',
            theme: 'molv',
            type:"time",
            trigger:"click",
            format:"HH:mm",
            min: '13:00:00',
            max: "20:00:00",
            done: function (value, date,endDate) {
                // 结束时间大于开始时间
                validTime(value,"workDay2");
            }
        });
        laydate.render({
            elem: '#weekend1',
            range: '-',
            theme: 'molv',
            type:"time",
            trigger:"click",
            format:"HH:mm",
            min: '08:00:00',
            max: "12:00:00",
            done: function (value, date,endDate) {
                validTime(value,"weekend1");
            }
        });
        laydate.render({
            elem: '#weekend2',
            range: '-',
            theme: 'molv',
            type:"time",
            trigger:"click",
            format:"HH:mm",
            min: '13:00:00',
            max: "20:00:00",
            done: function (value, date,endDate) {
                validTime(value,"weekend2");
            }
        });
        function validTime(dateTime,divId){
            // 结束时间大于开始时间
            var value=dateTime;
            console.log("时间")
            if (value != null && value != undefined && value != "") {
                console.log(value)
                var start=value.split(" - ")[0];
                var end=value.split(" - ")[1];
                console.log(start+"*"+end)
                if(start>=end){
                    console.log("大于")
                    layer.msg("<span style=\"font-size:30px\">结束时间不得小于等开始时间!!!</span>",
                        { time: 2000,
                            shift: 5,offset:"t",
                            area:['500px','60px'] });
                    document.getElementById(divId).val("");//不能用$,清除失效
                }else {

                }
            }
        }

        // 执行实例
        // TODO: 上传图片, 接口需要修改.
        /*var uploadInst = upload.render({
            elem: '#uploader-choose', //绑定元素
            url: '/index.php/demo/index/upload', //上传接口
            accept:'images',
            acceptMime:'image/!*',
            exts:'jpg|png|gif|bmp|jpeg',
            auto: false,
            bindAction: '#uploader-submit',
            multiple: true,
            number: 10,
            // 选择文件的回调
            choose: function(obj){
                // 展示上传按钮
                $('#uploader-submit').show();
                // 将每次选择的文件追加到文件队列
                uploadList = obj.pushFile();

                const len = fileListDom.find('.file-list-item').length;
                // 还可以上传的文件数量
                const limit = 10 - len;

                var number = 0;
                // 预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result){
                    if (number < limit){
                        number++;
                        appendFile(index, file.name, result);
                    }else{
                        deleteTempFile(index)
                    }
                })
            },
            // 上传接口请求成功的回调
            before: function(obj){
                layer.load(1);
            },
            //上传完毕回调
            done: function(res){
                fileListDom.find('.file-temp').each(function () {
                    if (!res.res){
                        // 若上传失败，则直接移除
                        $(this).remove();
                    }else{
                        // 添加上传返回的数据到对应的文件中
                        var hidden = '<input type="hidden" name="path[]" value="'+res.path+'"/>';
                        $(this).append(hidden);
                        // 修改预览文件样式
                        $(this).removeClass('file-temp');
                        $(this).find('.file-cancel').removeClass('layui-btn-primary');
                        $(this).find('.file-cancel').addClass('layui-btn-danger');
                        $(this).find('.file-cancel').val('删除');
                        $(this).find('.layui-badge').remove();
                    }
                })
            },
            //当文件全部被提交后，才触发
            allDone: function (obj) {
                layer.msg("已上传 "+obj.successful+" 个文件");
                layer.closeAll('loading');
                deleteTempFile(0)
            },
            //请求异常回调
            error: function(){
            }
        });

        // 预览选择的文件
        function appendFile(index, name, result) {
            const dom = '<div class="file-list-item file-temp" data-index="'+index+'"><div class="img-wrap"><img src="'+result+'" alt="'+name+'"><span class="layui-badge layui-bg-blue">待上传</span></div>' +
                '<div><input type="button" class="layui-btn layui-btn-primary layui-btn-sm file-cancel" value="取消"></div></div>';
            fileListDom.append(dom);
            fileCancelEvent();
        }

        // 为待上传文件【取消】按钮添加点击事件
        function fileCancelEvent() {
            fileListDom.find('.file-cancel').each(function () {
                const event = $._data($(this)[0],"events");
                // 仅对未绑定事件的按钮进行绑定
                if (!event || !event["click"]){
                    $(this).click(function () {
                        var fileDom = $(this).parent().parent();
                        var index = fileDom.data('index');
                        if (index){
                            deleteTempFile(index);
                        }
                        fileDom.remove();
                    })
                }
            })
        }

        // 删除待上传的文件（从文件队列中删除文件）
        function deleteTempFile(index){
            if (index === 0){
                // 清空文件队列中所有数据
                for (const key in uploadList) {
                    delete uploadList[key];
                }
                // 隐藏上传按钮
                $('#uploader-submit').hide();
            }else{
                delete uploadList[index];
                var number = Object.keys(uploadList).length;
                // 若上传文件队列中无数据则隐藏上传按钮
                if (number <= 0){
                    $('#uploader-submit').hide();
                }
            }
        }
    });*/

        /*// 场所开放时间设置, 显示时分.
        laydate.render({
            elem: '#monday'
            ,type: 'time'
            ,format: 'HH:mm'
            ,btns: ['clear', 'confirm']
            ,ready: formatminutes
        });

        laydate.render({
            elem: '#Tuesday'
            ,type: 'time'
            ,format: 'HH:mm'
            ,btns: ['clear', 'confirm']
            ,ready: formatminutes
        });

        laydate.render({
            elem: '#Wednesday'
            ,type: 'time'
            ,format: 'HH:mm'
            ,btns: ['clear', 'confirm']
            ,ready: formatminutes

        });

        laydate.render({
            elem: '#Thursday'
            ,type: 'time'
            ,format: 'HH:mm'
            ,btns: ['clear', 'confirm']
            ,ready: formatminutes
        });

        laydate.render({
            elem: '#Friday'
            ,type: 'time'
            ,format: 'HH:mm'
            ,btns: ['clear', 'confirm']
            ,ready: formatminutes
        });*/

        /*function  formatminutes(date) {
            var aa = $(".laydate-time-list li ol")[1];
            var showtime = $($(".laydate-time-list li ol")[1]).find("li");
            for (var i = 0; i < showtime.length; i++) {
                var t00 = showtime[i].innerText;
                if (t00 != "00" && t00 != "20" && t00 != "30" && t00 != "40" && t00 != "50") {
                    showtime[i].remove()
                }
            }
            $($(".laydate-time-list li ol")[2]).find("li").remove();  //清空秒
        }*/

        /*function formatminutes(date) {
            $(".laydate-time-list li").eq(233).remove()
            $(".laydate-time-list li").eq(86).remove()
            $(".laydate-time-list li").css("width","50%")
            $(".laydate-time-list li ol li").css("width","100%")
        }*/


        table.on('toolbar(gym_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的用户");
                    } else {
                        var userIds = [];
                        $(data).each(function (index, item) {
                            userIds.push(item.gymId);
                        });
                        tipDialog(userIds, "选中的");
                    }
                    break;
                case 'addNewGym':
                    form.render();
                    $(".title").html("新增场地");
                    $(".gym_table_div").hide();
                    $(".operation_gym").show();
                    $(".operation_gym input[name=gymId]").val("");
                    $(".operation_gym input[name=deptId]").val("");
                    $(".operation_gym input[name=gymName]").val("");
                    $(".operation_gym input[name=gymPhone]").val("");
                    $(".operation_gym input[name=gymCapacity]").val("");
                    $(".operation_gym input[name=openOnHoliday]").val("");
                    $(".operation_gym input[name=gymTypes]").val("");
                    $(".operation_gym input[name=gymPosition]").val("");
                    $(".operation_gym input[name=gymDetails]").val("");
                    $(".operation_gym input[name=deptName]").val("");
                  /*  $(".operation_gym input[name=monday]").val("");
                    $(".operation_gym input[name=saturday]").val("");*/
                    $(".operation_gym input[name=workDay1]").val("");
                    $(".operation_gym input[name=workDay2]").val("");
                    $(".operation_gym input[name=weekend1]").val("");
                    $(".operation_gym input[name=weekend2]").val("");
                    $(".operation_gym input[name=longitude]").val("");
                    $(".operation_gym input[name=latitude]").val("");
                    tagIns2.set();//重置
                    //var x = document.getElementsByClassName("layui-unselect layui-form-switch");
                    //x[0].setAttribute("class", "layui-unselect layui-form-switch layui-form-onswitch");
                    //var d = document.getElementsByTagName('em')[0];
                    //d.firstChild.nodeValue = '启用';
                    form.render(); //更新全部
                    initTree("");
                    break;
                case 'search':
                    searchParam.gymName = $("#gymName").val();
                    searchParam.gymTypes = $("#gymTypes").val();
                    searchParam.openOnHoliday = $("#openOnHoliday").val();
                    searchParam.deptId = $("#deptInfo").val();
                    /*console.log('tagIns1 当前选中的值名：',tagIns1.selected);
                    console.log('tagIns1 当前选中的值：',tagIns1.values);
                    console.log('tagIns1 当前选中的名：',tagIns1.names);*/
                    var exerciseT="";
                    var exerciseList=tagIns1.values;
                    if(exerciseList!=null&&exerciseList!==""&&exerciseList!=undefined){
                        for(var t=0;t<exerciseList.length-1;t++) {
                            exerciseT += exerciseList[t] + "-";
                        }
                        // console.log("exerciseList:"+exerciseList)
                        if(exerciseList.length>0)
                            exerciseT+=exerciseList[exerciseList.length-1];
                        searchParam.exerciseType=exerciseT;
                    }
                    console.log("searchParam.exerciseType:"+exerciseT)
                    searchParam.createTime = $("#createTime").val();
                    searchParam.pageNum = 1;
                    CoreUtil.sendAjax("/sys/gyms", JSON.stringify(searchParam), function (res) {
                        // console.log("gymList:"+JSON.stringify(searchParam))
                        laypageTable(res.data.totalRows, searchParam.pageNum);
                        if (res.data.list != null) {
                            loadTable(res.data.list);
                        }
                    }, "POST", false, function (res) {
                        layer.msg("抱歉！您暂无获取用户列表的权限");
                        var noAuthorityData = [];
                        loadTable(noAuthorityData);
                    });
                    break;
                case 'autopass':
                    CoreUtil.sendAjax("/sys/autopass", JSON.stringify(null), function (res) {
                        layer.msg("审批成功");
                    }, "POST", false, function (res) {
                        layer.msg("审批失败！您暂无权限");
                    });
                    break;
            }
            ;
        });
        table.on('tool(gym_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var userIds = [];
                    userIds.push(data.gymId);
                    tipDialog(userIds, data.gymName);
                    break;
                case 'edit':
                    // console.log("数据回显："+JSON.stringify(data))
                    $(".gym_table_div").hide();
                    $(".operation_gym").show();
                    $(".title").html("场馆信息");
                    $(".operation_gym input[name=gymId]").val(data.gymId);
                    $(".operation_gym input[name=deptId]").val(data.deptId);
                    $(".operation_gym input[name=gymName]").val(data.gymName);
                    $(".operation_gym input[name=gymPhone]").val(data.gymPhone);
                    $(".operation_gym input[name=gymCapacity]").val(data.gymCapacity);
                    // $(".operation_gym input[name=openOnHoliday]").value=data.openOnHoliday;
                    document.getElementById("openOnHolidayUpdate").value=data.openOnHoliday;
                    $(".operation_gym input[name=gymTypes]").val(data.gymTypes);
                    $(".operation_gym input[name=gymPosition]").val(data.gymPosition);
                    $(".operation_gym input[name=gymDetails]").val(data.gymDetails);
                    $(".operation_gym input[name=deptName]").val(data.deptName);
                    var longitude=data.gymGps.split(",")[0];
                    var latitude=data.gymGps.split(",")[1];
                    $(".operation_gym input[name=longitude]").val(longitude);
                    $(".operation_gym input[name=latitude]").val(latitude);
                    /*$(".operation_gym input[name=monday]").val(data.monday);
                    $(".operation_gym input[name=saturday]").val(data.saturday);*/
                    var mondayT=data.monday;
                    var saturdayT=data.saturday;
                    var wd1="",wd2="",we1="",we2="";
                    if(!(mondayT==null||mondayT=="")){
                        wd1=mondayT.split(" ")[0];
                        wd1=wd1.split("-")[0]+" "+"-"+" "+wd1.split("-")[1];
                        wd2=mondayT.split(" ")[1];
                        wd2=wd2.split("-")[0]+" "+"-"+" "+wd2.split("-")[1];
                    }
                    if(!(saturdayT==null||saturdayT=="")){
                        we1=saturdayT.split(" ")[0];
                        we1=we1.split("-")[0]+" "+"-"+" "+we1.split("-")[1];
                        we2=saturdayT.split(" ")[1];
                        we2=we2.split("-")[0]+" "+"-"+" "+we2.split("-")[1];
                    }
                    console.log("time:"+wd1+wd2+we1+we2);
                    //注意格式,必须是T - T 有空格和横线
                    $(".operation_gym input[name=workDay1]").val(wd1);
                    $(".operation_gym input[name=workDay2]").val(wd2);
                    $(".operation_gym input[name=weekend1]").val(we1);
                    $(".operation_gym input[name=weekend2]").val(we2);
                    var typeNumber=data.gymTypes.split("-");
                    console.log("回显:"+data.gymTypes)
                    console.log("回显:"+typeNumber)
                    //下拉框回显
                    if(typeNumber.length>0)
                        tagIns2.set(typeNumber);
                    form.render(); //更新全部
                    initTree("");
                    break;
                case 'picture':
                    console.log("跳转图上传："+data.gymId)
                    //直接进行页面跳转
                    toPictureLoad(data.gymId);
                    break;
                case 'closeGym':
                    console.log("闭馆："+data.gymId+":"+data.gymName)
                    closeGym(data.gymId,data.gymName,data.deptId)
                    break;
            }
        });
        $("#btn_cancel").click(function () {
            // loadPFlag=0;
            $(".gym_table_div").show();
            $(".operation_gym").hide();
            return false;
        });

        // $("#loadPicture").click(function () {
        //     var gymId=$(".picture_gym input[name=gymId]").val();
        //     var pictureCon=$(".picture_gym input[name=picture]").val();
        //     var str={"gymId":gymId,"picture":pictureCon}
        //     console.log("图片上传gymId："+gymId)
        //     console.log("图片上传pictureCon："+pictureCon)
        //     CoreUtil.sendAjax("/sys/test",JSON.stringify(str), function (res) {
        //         layer.msg(res.msg);
        //         $(".layui-laypage-btn").click();
        //           $(".gymComment_table_div").show();
        //           $(".response_gymComment").hide();
        //         return false;//这个东西要是注释掉，会引发"post" not support问题
        //     }, "POST", false, function (res) {
        //         layer.msg("抱歉！您暂无上传的权限");
        //     });
        // });

        var tipDialog = function (userIds, username) {
            layer.open({
                content: '确定要删除' + username + "用户么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/sys/deleteGym", JSON.stringify(userIds), function (res) {
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "DELETE", false, function (res) {//这个地方原来是POST，导致调用删除一直出错！！！！！！！
                        layer.msg("抱歉！您暂无删除用户的权限");
                    });
                }
            });
        };
        var closeGym = function (gymId,gymName,deptId) {
            var gymIdAndDeptId=[];
            gymIdAndDeptId.push(gymId);
            gymIdAndDeptId.push(deptId);
            layer.open({
                content: '确定关闭场馆:' + gymName + "么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/sys/closeGym", JSON.stringify(gymIdAndDeptId), function (res) {
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "POST", false, function (res) {
                        layer.msg("抱歉！您暂无闭馆权限");
                    });
                }
            });
        };
        var toPictureLoad=function(gymId){
            /*layer.open({
                content: '确定要跳转么?',
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/index/toPictureLoad", JSON.stringify(gymId), function (res) {
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "GET", false, function (res) {
                        layer.msg("抱歉！您暂无权限");
                    });
                }
            });*/
            var index = layer.open({
                title: '场地图片上传',
                type: 2,
                shade: 0.2,
                maxmin: true,
                shadeClose: true,
                area: ['90%', '90%'],
                data: gymId,
                content: '/index/toPictureLoad/'+gymId,
            });
            $(window).on("resize", function () {
                layer.full(index);
            });
            return false;

        }

        form.on('switch(switch)', function () {
            $(".operation_gym input[name=status]").attr('type', 'hidden').val(this.checked ? 1 : 2);

        });

        function getNewExerciseType(){
            var exerciseT="";
            var exerciseList=tagIns2.values;
            if(exerciseList!=null&&exerciseList!==""&&exerciseList!=undefined){
                for(var t=0;t<exerciseList.length-1;t++) {
                    exerciseT += exerciseList[t] + "-";
                }
                // console.log("exerciseList:"+exerciseList)
                if(exerciseList.length>0)
                    exerciseT+=exerciseList[exerciseList.length-1];
            }
            return exerciseT;
        }

        form.on('submit(submit)', function (data) {
            // console.log("gym操作："+JSON.stringify(data))
            // console.log("开放时间:"+$("#workDay1").val());
            if($("#workDay1").val()==""||$("#workDay2").val()==""||$("#weekend1").val()==""||$("#weekend2").val()==""){
                layer.msg("开放时间不能为空!!!");
                return false;
            }
            var longitude=$(".operation_gym input[name=longitude]").val();
            var latitude=$(".operation_gym input[name=latitude]").val();
            data.field.gymGps=longitude+","+latitude;
            console.log("gps:"+data.field.gymGps);
            if (data.field.gymId === undefined || data.field.gymId === null || data.field.gymId === "") {
                console.log("id为空，新增gym")
                var nT=getNewExerciseType();
                if(nT!=null&&nT.length>0)
                    data.field.gymTypes=nT;
                console.log("数据:"+JSON.stringify(data.field))
                CoreUtil.sendAjax("/sys/gym", JSON.stringify(data.field), function (res) {
                    $(".gym_table_div").show();
                    $(".operation_gym").hide();
                    $(".layui-laypage-btn").click();
                }, "POST", false, function (res) {
                    layer.msg("抱歉！您暂无新增用户的权限");
                });
            } else {
                console.log("id不为空，修改gym")
                var nT=getNewExerciseType();
                if(nT!=null&&nT.length>0)
                    data.field.gymTypes=nT;
                console.log("数据:"+JSON.stringify(data.field))
                CoreUtil.sendAjax("/sys/gym", JSON.stringify(data.field), function (res) {
                    $(".gym_table_div").show();
                    $(".operation_gym").hide();
                    $(".layui-laypage-btn").click();
                }, "PUT", false, function (res) {
                    layer.msg("抱歉！您暂无编辑用户的权限");
                });
            }
            return false;
        });

        var loadDeptTree = function (data) {
            tree.render({
                elem: '#deptTree'
                , data: data
                , onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                , click: function (obj) {
                    selectNode = obj;
                    layer.msg(JSON.stringify(selectNode.data.title));
                }
            });
        };

        $(".operation_gym input[name=deptName]").click(function () {
            layer.open({
                type: 1,
                offset: '0px',
                skin: 'layui-layer-molv',
                title: "选择部门",
                area: ['400px', '550px'],
                shade: 0,
                shadeClose: false,
                content: jQuery("#deptTree"),
                btn: ['确定', '取消'],
                yes: function (index) {
                    if (selectNode.data != null) {
                        //选中回显
                        $(".operation_gym input[name=deptId]").val(selectNode.data.id);
                        $(".operation_gym input[name=deptName]").val(selectNode.data.title);
                    }
                    layer.close(index);
                }
            });
        });

        var initTree = function (id) {
            var param = {deptId: id}
            CoreUtil.sendAjax("/sys/dept/tree", param, function (res) {
                loadDeptTree(res.data);
            }, "GET", false, function (res) {
                // layer.msg("抱歉！您暂无获取部门树的权限");
                var noAuthorityData = [];
                loadDeptTree(noAuthorityData);
            });
        };

        var initTransfer = function (data) {
            transfer.render({
                elem: '#roles'
                , data: data.allRole
                , title: ['赋予角色', '拥有角色']
                , showSearch: true
                , value: data.ownRoles
                , id: 'ownData'
                , parseData: function (res) {
                    return {
                        "value": res.id //数据值
                        , "title": res.name //数据标题
                    }
                }
            })
        }
    });
</script>
</html>