<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/lanhu/gymInfo/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="/lanhu/gymInfo/common.css" />
    <link rel="stylesheet" type="text/css" href="/lanhu/gymInfo/index.css" />
</head>
<body>
<div class="page flex-col">
    <div class="group_1 flex-col">
        <div class="block_1 flex-row">
            <span class="text_1">健身场馆共享通管理系统</span>
            <span class="text_2">数智驾驶舱</span>
            <span class="text_3">审批备案</span>
            <span class="text_4">禁入名单</span>
            <span class="text_5">评价管理</span>
            <span class="text_6">场馆进出历史</span>
            <span class="text_7">admin</span>
            <img
                    class="thumbnail_1"
                    referrerpolicy="no-referrer"
                    src="/lanhu/img/pskmkt6ygwrlmep4anh8baeqvz3c9809q2de3fbca-473f-412e-9ca8-ce3f9e0662a2.png"
            />
            <img
                    class="thumbnail_2"
                    referrerpolicy="no-referrer"
                    src="/lanhu/img/pssje7rojve50iok8hwt6yjb4lul7vppg95ad9196-51a7-451c-9421-89740371d8a8.png"
            />
            <div class="text-wrapper_1 flex-col">
                <span class="text_8">场馆信息</span>
            </div>
        </div>
        <div class="block_2 flex-col">
            <div class="box_1 flex-col">
                <div class="group_2 flex-row justify-between">
                    <div class="group_3 flex-col"></div>
                    <span class="text_9">场馆流量信息</span>
                </div>
                <div class="group_4 flex-row">
                    <span class="text_10">当日人流量：</span>
                    <div class="text-wrapper_2">
                        <span class="text_11">40</span>
                        <span class="text_12">人次</span>
                    </div>
                    <span class="text_13">总人流量：</span>
                    <div class="text-wrapper_3">
                        <span class="text_14">8000</span>
                        <span class="text_15">人次</span>
                    </div>
                </div>
                <div class="group_5 flex-row justify-between">
                    <div class="group_6 flex-col"></div>
                    <span class="text_16">场馆基本信息</span>
                </div>
                <div class="group_7 flex-row justify-between">
                    <span class="text_17">场馆名称：</span>
                    <div class="text-wrapper_4 flex-col">
                        <span class="text_18">请输入文本内容</span>
                    </div>
                </div>
                <div class="group_8 flex-row justify-between">
                    <span class="text_19">负责人电话：</span>
                    <div class="text-wrapper_5 flex-col">
                        <span class="text_20">请输入文本内容</span>
                    </div>
                </div>
                <div class="group_9 flex-row">
                    <span class="text_21">开放时间：</span>
                    <div class="block_3 flex-row">
                        <span class="text_22">星期一</span>
                        <img
                                class="thumbnail_3"
                                referrerpolicy="no-referrer"
                                src="/lanhu/img/ps1mhfq0xtga5l0i0o6sxatqarov2073fgo78caf09f-b14f-40fc-9e2f-97f60f5aeb30.png"
                        />
                    </div>
                    <div class="block_4 flex-row">
                        <span class="text_23">2021年08月08日</span>
                        <img
                                class="thumbnail_4"
                                referrerpolicy="no-referrer"
                                src="/lanhu/img/psdt1o565ts3kzxgwgyfwmk9hwublz5llg706a5085a-b539-4dc4-9a06-f334d5135cbd.png"
                        />
                    </div>
                    <img
                            class="image_1"
                            referrerpolicy="no-referrer"
                            src="/lanhu/img/ps4mbhobpudyfjzycmgtnct7f6rde1a3nqedff72b1-bb3c-4981-b3ab-aa1f2675fec0.png"
                    />
                    <div class="block_5 flex-row">
                        <span class="text_24">2021年08月08日</span>
                        <img
                                class="thumbnail_5"
                                referrerpolicy="no-referrer"
                                src="/lanhu/img/psse326a3szaso1vcjvex2tfdnf3ej4i8f8df73ac7-ac85-42b6-bdc4-8bad85eed119.png"
                        />
                    </div>
                </div>
                <div class="group_10 flex-row justify-between">
                    <span class="text_25">最大可进入人数：</span>
                    <div class="text-wrapper_6 flex-col">
                        <span class="text_26">请输入文本内容</span>
                    </div>
                </div>
                <div class="group_11 flex-row">
                    <span class="text_27">上传场馆图片：</span>
                    <img
                            class="image_2"
                            referrerpolicy="no-referrer"
                            src="/lanhu/img/ps5g0tdi1gkwmu95p2kp7b10nb7slwmh5e534874dc-ea86-4425-bb91-2862e848b5a4.png"
                    />
                    <div class="section_1 flex-col">
                        <div class="box_2 flex-col"></div>
                    </div>
                </div>
                <div class="group_12 flex-row">
                    <span class="text_28">节假日是否开放：</span>
                    <div class="section_2 flex-col">
                        <div class="section_3 flex-col"></div>
                    </div>
                    <div class="section_4 flex-col">
                        <div class="group_13 flex-col"></div>
                    </div>
                </div>
                <div class="group_14 flex-row justify-between">
                    <div class="group_15 flex-col"></div>
                    <span class="text_29">场馆运动信息</span>
                </div>
                <div class="group_16 flex-row">
                    <div class="group_17 flex-row">
                        <span class="text_30">选择场馆类型</span>
                        <img
                                class="thumbnail_6"
                                referrerpolicy="no-referrer"
                                src="/lanhu/img/ps3txojeonubbkt6u711lmad2lphvo6hlvgbed7a173-ee61-4e67-9c25-dfc0ee50e8ae.png"
                        />
                    </div>
                </div>
                <div class="group_18 flex-row">
                    <div class="image-text_1 flex-row justify-between">
                        <img
                                class="thumbnail_7"
                                referrerpolicy="no-referrer"
                                src="/lanhu/img/psqhfxpo3jb11qcc2umd0h8wezhpiy0jjk6e6680eb-2aed-4ef3-ac21-af975231bedd.png"
                        />
                        <span class="text-group_1">足球</span>
                    </div>
                    <div class="block_6 flex-col"></div>
                    <span class="text_31">篮球</span>
                    <div class="block_7 flex-col align-center">
                        <div class="group_19 flex-col"></div>
                    </div>
                    <span class="text_32">乒乓球</span>
                    <div class="block_8 flex-col"></div>
                    <span class="text_33">羽毛球</span>
                    <div class="block_9 flex-col"></div>
                    <span class="text_34">跑步</span>
                </div>
                <div class="group_20 flex-row">
                    <div class="block_10 flex-col align-center">
                        <div class="block_11 flex-col"></div>
                    </div>
                    <span class="text_35">足球</span>
                    <div class="block_12 flex-col"></div>
                    <span class="text_36">篮球</span>
                    <div class="block_13 flex-col align-center">
                        <div class="section_5 flex-col"></div>
                    </div>
                    <span class="text_37">乒乓球</span>
                    <div class="block_14 flex-col"></div>
                    <span class="text_38">羽毛球</span>
                    <div class="block_15 flex-col"></div>
                    <span class="text_39">跑步</span>
                </div>
                <div class="group_21 flex-row justify-between">
                    <div class="block_16 flex-col"></div>
                    <span class="text_40">预约表单</span>
                </div>
                <div class="group_22 flex-row">
                    <div class="group_23 flex-col align-center">
                        <div class="section_6 flex-col"></div>
                    </div>
                    <span class="text_41">爱好</span>
                    <div class="group_24 flex-col"></div>
                    <span class="text_42">疾病</span>
                    <div class="group_25 flex-col align-center">
                        <div class="group_26 flex-col"></div>
                    </div>
                    <span class="text_43">所在地</span>
                    <div class="group_27 flex-col"></div>
                    <span class="text_44">是否去过高风险地区</span>
                    <div class="group_28 flex-col"></div>
                    <span class="text_45">有无来自其他市的人员</span>
                </div>
                <div class="group_29 flex-row justify-between">
                    <div class="text-wrapper_7 flex-col">
                        <span class="text_46">确定保存</span>
                    </div>
                    <div class="text-wrapper_8 flex-col">
                        <span class="text_47">返&nbsp;&nbsp;回</span>
                    </div>
                </div>
            </div>
            <div class="box_3 flex-col"></div>
        </div>
    </div>
</div>
</body>
</html>
