.page {
  position: relative;
  width: 1920px;
  height: 1161px;
  overflow: hidden;
}

.group_1 {
  width: 1920px;
  height: 1161px;
  background: url(./img/psyjpnjjxseviaiwqag96dhbi5d7noi0hd0c6ffea1-9d19-4373-a6f9-04a27300e57f.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.block_1 {
  background-color: rgba(32, 87, 254, 1);
  position: relative;
  width: 1920px;
  height: 83px;
  justify-content: flex-center;
}

.text_1 {
  width: 404px;
  height: 30px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: PangMenZhengDao;
  text-align: center;
  white-space: nowrap;
  line-height: 39px;
  margin: 26px 0 0 32px;
}

.text_2 {
  width: 120px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 40px 0 0 107px;
}

.text_3 {
  width: 94px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 40px 0 0 235px;
}

.text_4 {
  width: 94px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 40px 0 0 51px;
}

.text_5 {
  width: 95px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 40px 0 0 50px;
}

.text_6 {
  width: 143px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 24px;
  margin: 40px 0 0 52px;
}

.text_7 {
  width: 47px;
  height: 13px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 9px;
  margin: 34px 0 0 322px;
}

.thumbnail_1 {
  width: 1px;
  height: 16px;
  margin: 33px 0 0 11px;
}

.thumbnail_2 {
  width: 20px;
  height: 16px;
  margin: 33px 32px 0 10px;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px 0px 0px 20px;
  height: 66px;
  width: 133px;
  position: absolute;
  left: 714px;
  top: 18px;
}

.text_8 {
  width: 111px;
  height: 28px;
  overflow-wrap: break-word;
  color: rgba(32, 87, 254, 1);
  font-size: 28px;
  font-family: SourceHanSansCN-Bold;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
  margin: 18px 0 0 10px;
}

.block_2 {
  position: relative;
  width: 1920px;
  height: 1079px;
  margin-bottom: 1px;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  height: 1044px;
  width: 1186px;
  margin: 2px 0 0 368px;
}

.group_2 {
  width: 138px;
  height: 30px;
  margin: 30px 0 0 55px;
}

.group_3 {
  background-color: rgba(32, 87, 254, 1);
  width: 4px;
  height: 30px;
}

.text_9 {
  width: 120px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 4px;
}

.group_4 {
  width: 417px;
  height: 24px;
  margin: 31px 0 0 207px;
}

.text_10 {
  width: 95px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 6px;
}

.text-wrapper_2 {
  width: 69px;
  height: 24px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 10px;
}

.text_11 {
  width: 69px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(32, 87, 254, 1);
  font-size: 30px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.text_12 {
  width: 69px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.text_13 {
  width: 79px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 6px 0 0 48px;
}

.text-wrapper_3 {
  width: 103px;
  height: 24px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 13px;
}

.text_14 {
  width: 103px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(32, 87, 254, 1);
  font-size: 30px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.text_15 {
  width: 103px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.group_5 {
  width: 138px;
  height: 30px;
  margin: 40px 0 0 55px;
}

.group_6 {
  background-color: rgba(32, 87, 254, 1);
  width: 4px;
  height: 30px;
}

.text_16 {
  width: 120px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 4px;
}

.group_7 {
  width: 413px;
  height: 35px;
  margin: 30px 0 0 205px;
}

.text_17 {
  width: 79px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 7px;
}

.text-wrapper_4 {
  border-radius: 3px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  width: 313px;
}

.text_18 {
  width: 112px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Normal;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 11px;
}

.group_8 {
  width: 430px;
  height: 35px;
  margin: 20px 0 0 188px;
}

.text_19 {
  width: 96px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 7px;
}

.text-wrapper_5 {
  border-radius: 3px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  width: 313px;
}

.text_20 {
  width: 112px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Normal;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 11px;
}

.group_9 {
  width: 685px;
  height: 36px;
  margin: 17px 0 0 205px;
}

.text_21 {
  width: 79px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 9px;
}

.block_3 {
  border-radius: 3px;
  width: 172px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  margin: 1px 0 0 22px;
}

.text_22 {
  width: 53px;
  height: 17px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 8px 0 0 17px;
}

.thumbnail_3 {
  width: 14px;
  height: 8px;
  margin: 14px 15px 0 73px;
}

.block_4 {
  border-radius: 3px;
  width: 176px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: 19px;
}

.text_23 {
  width: 115px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Normal;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 12px;
}

.thumbnail_4 {
  width: 19px;
  height: 19px;
  margin: 8px 10px 0 20px;
}

.image_1 {
  width: 21px;
  height: 2px;
  margin: 16px 0 0 11px;
}

.block_5 {
  border-radius: 3px;
  width: 176px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: 9px;
}

.text_24 {
  width: 115px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Normal;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 12px;
}

.thumbnail_5 {
  width: 19px;
  height: 19px;
  margin: 8px 10px 0 20px;
}

.group_10 {
  width: 466px;
  height: 35px;
  margin: 19px 0 0 152px;
}

.text_25 {
  width: 132px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 7px;
}

.text-wrapper_6 {
  border-radius: 3px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  width: 313px;
}

.text_26 {
  width: 112px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Normal;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 11px;
}

.group_11 {
  width: 372px;
  height: 90px;
  margin: 16px 0 0 170px;
}

.text_27 {
  width: 114px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 10px;
}

.image_2 {
  width: 128px;
  height: 84px;
  margin: 3px 0 0 21px;
}

.section_1 {
  border-radius: 3px;
  height: 90px;
  border: 1px dashed rgba(102, 102, 102, 1);
  margin-left: 19px;
  width: 90px;
}

.box_2 {
  width: 55px;
  height: 55px;
  background: url(./img/psc19rpfpwgwrwg8actng1079oce92z9m56ad7bbed-ac34-4ee1-9e2d-094f8f79d8fd.png) -1px -1px
    no-repeat;
  background-size: 57px 57px;
  margin: 18px 0 0 18px;
}

.group_12 {
  width: 309px;
  height: 35px;
  margin: 19px 0 0 152px;
}

.text_28 {
  width: 132px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 7px;
}

.section_2 {
  background-color: rgba(221, 221, 221, 1);
  border-radius: 17px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: 21px;
  width: 63px;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin: 2px 0 0 3px;
}

.section_4 {
  background-color: rgba(32, 87, 254, 1);
  border-radius: 17px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: 30px;
  width: 63px;
}

.group_13 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin: 2px 0 0 30px;
}

.group_14 {
  width: 138px;
  height: 30px;
  margin: 40px 0 0 55px;
}

.group_15 {
  background-color: rgba(32, 87, 254, 1);
  width: 4px;
  height: 30px;
}

.text_29 {
  width: 120px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 4px;
}

.group_16 {
  width: 272px;
  height: 35px;
  margin: 30px 0 0 207px;
}

.group_17 {
  border-radius: 3px;
  width: 272px;
  height: 35px;
  border: 1px solid rgba(217, 217, 217, 1);
}

.text_30 {
  width: 107px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 7px 0 0 17px;
}

.thumbnail_6 {
  width: 14px;
  height: 8px;
  margin: 14px 15px 0 119px;
}

.group_18 {
  width: 466px;
  height: 18px;
  margin: 22px 0 0 211px;
}

.image-text_1 {
  width: 61px;
  height: 18px;
}

.thumbnail_7 {
  width: 17px;
  height: 16px;
  margin-top: 2px;
}

.text-group_1 {
  width: 35px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
}

.block_6 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 30px;
}

.text_31 {
  width: 36px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.block_7 {
  background-color: rgba(32, 87, 254, 1);
  height: 16px;
  width: 16px;
  margin: 2px 0 0 30px;
}

.group_19 {
  width: 16px;
  height: 11px;
  background: url(./img/pswwcbgvcj4jltlxbx44esne6rq9x8qpp546cd4df69-8555-4f86-83b0-29b71800a0d3.png) -1px
    0px no-repeat;
  background-size: 17px 11px;
  margin-top: 3px;
}

.text_32 {
  width: 54px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.block_8 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 33px;
}

.text_33 {
  width: 53px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 10px;
}

.block_9 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 33px;
}

.text_34 {
  width: 35px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.group_20 {
  width: 466px;
  height: 18px;
  margin: 20px 0 0 211px;
}

.block_10 {
  background-color: rgba(32, 87, 254, 1);
  height: 16px;
  margin-top: 2px;
  width: 16px;
}

.block_11 {
  width: 16px;
  height: 11px;
  background: url(./img/pszk2mlfi3ntg56p41n3r8rhwlggpr9hlo05adfeec-7fa4-49ac-ac43-9142b5fd42ce.png) -1px
    0px no-repeat;
  background-size: 17px 11px;
  margin-top: 2px;
}

.text_35 {
  width: 35px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 10px;
}

.block_12 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 30px;
}

.text_36 {
  width: 36px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.block_13 {
  background-color: rgba(32, 87, 254, 1);
  height: 16px;
  width: 16px;
  margin: 2px 0 0 30px;
}

.section_5 {
  width: 16px;
  height: 11px;
  background: url(./img/ps96yp039n61fo56py899o46rhgd1ze6xo81678749-da40-4f84-9fd4-8fbd0f7fb426.png) -1px
    0px no-repeat;
  background-size: 17px 11px;
  margin-top: 3px;
}

.text_37 {
  width: 54px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.block_14 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 33px;
}

.text_38 {
  width: 53px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 10px;
}

.block_15 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 33px;
}

.text_39 {
  width: 35px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.group_21 {
  width: 98px;
  height: 30px;
  margin: 46px 0 0 55px;
}

.block_16 {
  background-color: rgba(32, 87, 254, 1);
  width: 4px;
  height: 30px;
}

.text_40 {
  width: 80px;
  height: 19px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-top: 5px;
}

.group_22 {
  width: 718px;
  height: 18px;
  margin: 29px 0 0 211px;
}

.group_23 {
  background-color: rgba(32, 87, 254, 1);
  height: 16px;
  margin-top: 2px;
  width: 16px;
}

.section_6 {
  width: 16px;
  height: 11px;
  background: url(./img/pssc52b32jl83cn8digqu1rue27xd27xuqf6aa6297-1187-45c5-a3ce-a1abf8207b40.png) -1px
    0px no-repeat;
  background-size: 17px 11px;
  margin-top: 2px;
}

.text_41 {
  width: 35px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 10px;
}

.group_24 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 30px;
}

.text_42 {
  width: 35px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 10px;
}

.group_25 {
  background-color: rgba(32, 87, 254, 1);
  height: 16px;
  width: 16px;
  margin: 2px 0 0 30px;
}

.group_26 {
  width: 16px;
  height: 11px;
  background: url(./img/psr13n7fqncbxixkeb26knd2ryls95hyd82e8bc4ca-b4e3-4257-8455-80a325670c6c.png) -1px
    0px no-repeat;
  background-size: 17px 11px;
  margin-top: 3px;
}

.text_43 {
  width: 54px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.group_27 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 33px;
}

.text_44 {
  width: 162px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 9px;
}

.group_28 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(102, 102, 102, 1);
  margin: 2px 0 0 33px;
}

.text_45 {
  width: 178px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin-left: 10px;
}

.group_29 {
  width: 237px;
  height: 35px;
  margin: 80px 0 21px 481px;
}

.text-wrapper_7 {
  background-color: rgba(32, 87, 254, 1);
  border-radius: 3px;
  height: 35px;
  width: 94px;
}

.text_46 {
  width: 64px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 9px 0 0 15px;
}

.text-wrapper_8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  height: 35px;
  border: 1px solid rgba(32, 87, 254, 1);
  width: 94px;
}

.text_47 {
  width: 38px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(32, 87, 254, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Medium;
  text-align: justifyCenter;
  white-space: nowrap;
  line-height: 40px;
  margin: 10px 0 0 28px;
}

.box_3 {
  position: absolute;
  left: 1320px;
  top: 208px;
  width: 281px;
  height: 343px;
  background: url(./img/pswaa7l9dw1pdf0yvsl1f4mmgfe71mwpjd90fc957a4-bb20-4cbd-b2f3-36f16da0f08c.png) -16px -16px
    no-repeat;
  background-size: 316px 378px;
}
