<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>禁入人员名单</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/form.css">

    <link rel="stylesheet" href="/css/febs.css">

    <script src="/layui/layui.all.js"></script>
    <script src="/js/util.js"></script>

    <script src=" https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>

</head>
<body>
<div class="panel panel-default operation_blackuser" hidden>
    <div class="panel-heading title" style="text-align: center"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="deptInfo" style="width: 700px;margin-top: 10px">
            <input name="id" hidden/>

            <div class="layui-form-item">
                <label class="layui-form-label">身份证号</label>
                <div class="layui-input-block">
                    <input type="identityCard" name="identityCard" placeholder="请输入身份证号" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">姓名</div>
                <div class="layui-input-block">
                    <input type="username" name="username" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">手机号</div>
                <div class="layui-input-block">
                    <input type="phone" lay-verify="phone" name="phone" placeholder="请输入手机号" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <!--<div class="layui-form-item">
                <div class="layui-form-label ">机关单位ID</div>
                <div class="layui-input-block">
                    <input type="deptId" lay-verify="phone" name="phone" placeholder="请输入隶属的机关单位ID" autocomplete="off"
                           class="layui-input">
                </div>
            </div>-->
            <div class="layui-form-item">
                <div class="layui-form-label ">禁入类型</div>
                <div class="layui-input-block">
                   <!-- <input type="typeInfo" lay-verify="typeInfo" name="typeInfo" placeholder="请输入类型" autocomplete="off"
                           class="layui-input">-->
                    <select id="typeInfo2" name="typeInfo">
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-label ">性别</div>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-form">
                        <select name="sex" id="sex2">
                            <option value="">请选择性别</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                            <option value="3">保密</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="blackuser_table_div" style="margin-top: 0px">
    <div id="searchParam" shiro:hasPermission="sys:blackusers:list">
        <!-- 此内所有id 与 searchParam结构体保持一致. -->
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="username" class="layui-input" autocomplete="off" placeholder="请输入禁入人员姓名">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="identityCard" class="layui-input" autocomplete="off" placeholder="请输入身份证号码">
            </div>

            <div class="layui-input-inline layui-form">
                <select id="sex">
                    <option value="">请选择性别</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                    <option value="3">保密</option>
                </select>
            </div>

            <div class="layui-input-inline layui-form">
                <select id="typeInfo">
                </select>
            </div>
            <!--
            <div class="layui-input-inline">
                <input type="text" id="typeInfo" class="layui-input" autocomplete="off" placeholder="请输入人员类型">
            </div>-->
            <div class="layui-input-inline">
                <input type="text" id="phone" class="layui-input" autocomplete="off" placeholder="请输入电话号码">
            </div>
            <div class="layui-input-inline" style="margin-top: 0px">
                <!--                <input type="text" class="layui-input" id="importTime" placeholder="选择导入的时间区间" style="width: 250px">-->
                <input type="text" class="layui-input" id="date-range" placeholder="不输入则忽略日期范围筛选"
                       name="dateRange">
            </div>

            <div class="layui-input-inline layui-form" id="deptSelect" style="display:none;">
                <select id="deptInfo" name="deptId">
                </select>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <button id="Reset" type="reset" class="layui-btn layui-btn-primary" style="margin-top: 0px">
                    <i class="layui-icon layui-icon-fonts-clear"></i> 清 空
                </button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="blackuser_table" lay-filter="blackuser_table"></table>
    <div id="laypage" class="$(" .layui-laypage-btn
    ").click();">
</div>
</div>
<div id="deptTree" style="display: none"></div>
<div id="roles" class="demo-transfer" style="display: none"></div>

<div class="layui-fluid" style="background-color: white" hidden>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">

                    <div class="layui-btn-container">
                        <!--<button class="layui-btn layui-btn-danger layui-btn-upload-server" id=""
                                onclick="clearAll()">
                            <i class="layui-icon">&#xe640;</i>清空数据
                        </button>-->
                        <button class="layui-btn layui-btn-primary" id="downloadFile"><i
                                class="layui-icon">&#xe67c;</i>下载黑名单模板
                        </button>
                        <button class="layui-btn layui-btn-upload"><i
                                class="layui-icon"></i>选择黑名单文件
                        </button>
                        <button class="layui-btn layui-btn-normal layui-btn-upload-server" id="uploadFile">
                            <i class="layui-icon">&#xe67c;</i>上传黑名单数据
                        </button>
                        <form class="layui-form " action="" style="display: inline">
                            <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                        </form>
                    </div>

                </div>

                <div class="layui-row layui-col-space15">

                    <div class="layui-col-md10">
                        <table class="layui-table layui-form " id="blackFileList" lay-filter="blackFileTable"
                               style="margin-top: 0px">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/html" id="toolbar">
    <div class="layui-btn-group" id="search">
        <button type="button" class="layui-btn" lay-event="search">
            <i class="layui-icon">&#xe615;</i> 开始检索
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-danger" lay-event="batchDeleted"
                shiro:hasPermission="sys:blackusers:deleted">
            <i class="layui-icon">&#xe608;</i> 批量删除
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-normal" lay-event="addNewBlackUser"
                shiro:hasPermission="sys:blackusers:add">
            <i class="layui-icon">&#xe608;</i> 添加禁入人员
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-danger" lay-event="loadBlackList"
                shiro:hasPermission="sys:blackusers:add">
            <i class="layui-icon">&#xe608;</i> 导入黑名单
        </button>
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:blackusers:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"
       shiro:hasPermission="sys:blackusers:deleted">删除</a>
</script>
<script type="text/html" id="sexTpl">
    {{#  if(d.sex == 2){ }}
    <span style="color: #fe5395;">女</span>
    {{#  } else if(d.sex == 1){ }}
    <span style="color: #48c202;">男</span>
    {{#  } else{ }}
    <span style="color: #17a2b8;">保密</span>
    {{#  } }}
</script>
<!--<script type="text/html" id="sourceTpl">
    {{#  if(d.type == 1){ }}
    <span style="color: #0053c6;">失信人员</span>
    {{#  } else if(d.type == 2){ }}
    <span style="color: #00d394;">犯罪人员</span>
    {{#  } else{ }}
    <span style="color: #c40b53;">其他</span>
    {{#  } }}
</script>-->
<script src="/static/layuimini/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script src="/static/layuimini/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script src="/static/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script>
    var table = layui.table;
    var laypage = layui.laypage
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var transfer = layui.transfer;

    function download() {
        console.log("下载...")
        var link = document.createElement('a');
        link.href = "/sys/download";
        link.click();
    }
    //日期范围
    laydate.render({
        elem: '#date-range',
        range: '~',
        theme: 'molv'
    });
    //清空条件
    $('#Reset').on('click', function () {
        console.log("清空")
        $("#username").val("");
        $("#identityCard").val("");
        // console.log("sex选项:"+JSON.stringify($("#sex")))
        $("#sex").val("请选择性别");
        $("#deptInfo").val("所有机关单位");
        $("#typeInfo").val("所有类型");
        $("#phone").val("");
        $("#date-range").val("");
        form.render("select") //重新渲染下拉框
    });

    layui.use(['table', 'laypage', 'layer', 'laydate', 'tree', 'transfer'], function () {
        form.render();
        var searchParam = {
            id: null,
            identityCard: null,
            username: null,
            phone: null,
            typeInfo: null,
            deptId:null,
            startTime: null,
            endTime: null,
            sex: null,
            importTime1: null,
            importTime2: null,
            pageNum: 1,
            pageSize: 10
        }

        //填充类型：要放layui里面，不然request无效
        CoreUtil.sendAjax("/sys/getAllDept", null, function (res) {
            console.log("获取机关单位.......")
            if (res.data != null) {
                document.getElementById("deptSelect").style.display="block";
                var types = res.data;
                console.log("type:" + JSON.stringify(types))
                var typeK = document.getElementById("deptInfo");
                typeK.options.length = 0;//清空
                typeK.options.add(new Option("所有机关单位", ""));
                for (var index = 0; index < types.length; index++) {
                    console.log("type:"+types[index]);
                    var name = types[index].name;
                    var tid = types[index].id;
                    typeK.options.add(new Option(name, tid));//Option("文本","值")
                }
                // typeK.innerText=typeInner;
                form.render();//不添加不会显示
            }
        }, "POST", false, function (res) {
            // layer.msg("抱歉！您暂无获取机关单位的权限");
        });

        //填充类型：要放layui里面，不然request无效
        CoreUtil.sendAjax("/sys/getBUType", null, function (res) {
            console.log("获取类型.......")
            if (res.data != null) {
                var types = res.data;
                console.log("type:" + types)
                var typeK = document.getElementById("typeInfo");
                var typeK2 = document.getElementById("typeInfo2");
                typeK.options.length = 0;//清空
                typeK2.options.length = 0;//清空
                typeK.options.add(new Option("所有类型", ""));
                typeK2.options.add(new Option("所有类型", ""));
                for (var index = 0; index < types.length; index++) {
                    // console.log("type:"+types[index]);
                    var name = types[index].typeName;
                    var tid = types[index].typeId;
                    // typeInner+="<option value='"+tid+"'>name</option>";
                    typeK.options.add(new Option(name, tid));//Option("文本","值")
                    typeK2.options.add(new Option(name, tid));//Option("文本","值")
                }
                // typeK.innerText=typeInner;
                form.render();//不添加不会显示
            }
        }, "POST", false, function (res) {
            layer.msg("抱歉！您暂无获取类型的权限");
        });

        CoreUtil.sendAjax("/sys/blackusers", JSON.stringify(searchParam), function (res) {
            laypageTable(res.data.totalRows, searchParam.pageNum);
            if (res.data.list != null) {
                loadTable(res.data.list);
                // layer.msg("test....");
                // layer.msg(res.data.list[0].id);
            }
        }, "POST", false, function (res) {
            layer.msg("抱歉！您暂无获取禁入人员列表的权限");
            var noAuthorityData = [];
            loadTable(noAuthorityData);
        });

        var laypageTable = function (count, currentPage) {
            laypage.render({
                elem: 'laypage'
                , count: count
                , limit: searchParam.pageSize
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , curr: location.hash.replace('#!currentPage=', '') //获取起始页
                , hash: 'currentPage' //自定义hash值
                , jump: function (obj, first) {
                    if (!first) {
                        searchParam.pageNum = obj.curr;
                        searchParam.pageSize = obj.limit;
                        CoreUtil.sendAjax("/sys/blackusers", JSON.stringify(searchParam), function (res) {
                            if (res.data.list != null) {
                                loadTable(res.data.list);
                                laypageTable(res.data.totalRows, searchParam.pageNum);
                            }
                        }, "POST", false, function (res) {
                            layer.msg("抱歉！您暂无获取禁入人员列表的权限");
                            var noAuthorityData = [];
                            loadTable(noAuthorityData);
                        });
                    }
                }
            });
        };
        //渲染table
        var loadTable = function (data) {
            table.render({
                elem: '#blackuser_table'
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        // {filed: 'id', align: 'center', title: 'id', width: 100},
                        {field: 'username', align: 'center', title: '姓名', width: 100},
                        {field: 'identityCard', align: 'center', title: '身份证号码', width: 200},
                        {field: 'typeInfo', align: 'center', title: '类型id', width: 100, templet: '#sourceTpl'},
                        {field: 'typeName', align: 'center', title: '类型名称', width: 100, align: 'center', templet: function (data) {
                                return data.blackUserType.typeName;}
                        },
                        {field: 'phone', align: 'center', title: '手机号', width: 120},

                        {field: 'sex', title: '性别', align: 'center', width: 60, templet: '#sexTpl'},
                        {
                            field: 'deptName', align: 'center', title: '机关单位', align: 'center', templet: function (data) {
                                return data.dept.name;
                            }
                        },
                        {
                            field: 'importTime', align: 'center', title: '创建时间', width: 170, templet: function (item) {
                                return CoreUtil.formattime(item.importTime);
                            }
                        },
                        {width: 240, align: 'center', toolbar: "#tool", title: '操作'}
                    ]
                ]
                , data: data
                , even: true
                , limit: data.length
                , limits: [5, 10, 20, 30, 5000]
                , toolbar: '#toolbar'
            });
        };
        laydate.render({
            elem: '#currentTime'
            , type: 'datetime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != undefined && value != "") {
                    searchParam.startTime = value.split("~")[0];
                    searchParam.endTime = value.split("~")[1];
                } else {
                    searchParam.startTime = null;
                    searchParam.endTime = null;
                }
            }
        });

        table.on('toolbar(blackuser_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            // layer.msg("function works!!!");
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的用户");
                    } else {
                        var userIds = [];
                        $(data).each(function (index, item) {
                            userIds.push(item.id);
                        });
                        tipDialog(userIds, "选中的");
                    }
                    break;
                case 'addNewBlackUser':
                    form.render();
                    $(".title").html("添加禁入人员");
                    $(".blackuser_table_div").hide();
                    $(".operation_blackuser").show();
                    $(".operation_blackuser input[name=id]").val("");
                    $(".operation_blackuser input[name=username]").val("");
                    $(".operation_blackuser input[name=identityCard]").val("");
                    $(".operation_blackuser input[name=phone]").val("");
                    $(".operation_blackuser input[name=typeInfo]").val("");
                    $(".operation_blackuser input[name=sex]").val("");
                    /*$(".operation_blackuser input[name=status]").attr('checked', 'checked');
                    $(".operation_blackuser input[name=status]").attr('type', 'hidden').val(1);*/
                    /*var x = document.getElementsByClassName("layui-unselect layui-form-switch");
                    x[0].setAttribute("class", "layui-unselect layui-form-switch layui-form-onswitch");
                    var d = document.getElementsByTagName('em')[0];
                    d.firstChild.nodeValue = '启用';*/
                    form.render(); //更新全部
                    // initTree("");
                    break;
                case 'search':
                    searchParam.userId = $("#id").val();
                    searchParam.identityCard = $("#identityCard").val();
                    searchParam.sex = $("#sex").val();
                    searchParam.phone = $("#phone").val();
                    // searchParam.type = $("#typeInfo").val();
                    searchParam.deptId = $("#deptInfo").val();
                    searchParam.username = $("#username").val();
                    searchParam.typeInfo = $("#typeInfo").val();
                    var timeR = $("#date-range").val();
                    if (timeR != null) {
                        var timeL = timeR.split(' ~ ');
                        console.log("timeRange:" + timeR)
                        console.log("timeRange:" + timeL)
                        searchParam.importTime1 = timeL[0];
                        searchParam.importTime2 = timeL[1];
                    }
                    // searchParam.date = $("#importTime").val();
                    searchParam.pageNum = 1;
                    CoreUtil.sendAjax("/sys/blackusers", JSON.stringify(searchParam), function (res) {
                        laypageTable(res.data.totalRows, searchParam.pageNum);
                        if (res.data.list != null) {
                            loadTable(res.data.list);
                        }
                    }, "POST", false, function (res) {
                        layer.msg("抱歉！您暂无获取用户列表的权限");
                        var noAuthorityData = [];
                        loadTable(noAuthorityData);
                    });
                    break;
                case 'loadBlackList':
                    $(".title").html("导入黑名单");
                    $(".blackuser_table_div").hide();
                    $(".layui-fluid").show();
                    break;
            }
            ;
        });
          table.on('tool(blackuser_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    var userIds = [];
                    userIds.push(data.id);
                    // console.log("blackUser删除:"+JSON.stringify(userIds))
                    tipDialog(userIds, data.username);
                    break;
                case 'edit':
                    $(".blackuser_table_div").hide();
                    $(".operation_blackuser").show();
                    $(".title").html("编辑用户");
                    $(".operation_blackuser input[name=id]").val(data.id);
                    $(".operation_blackuser input[name=identityCard]").val(data.identityCard);
                    $(".operation_blackuser input[name=username]").val(data.username);
                    $(".operation_blackuser input[name=phone]").val(data.phone);
                    $("#sex2").val(data.sex);
                    $("#typeInfo2").val(data.typeInfo);
                    /*if (data.status == 1) {
                        $(".operation_blackuser input[name=status]").attr('checked', 'checked');
                        $(".operation_blackuser input[name=status]").attr('type', 'hidden').val(1);
                        var x = document.getElementsByClassName("layui-unselect layui-form-switch");
                        x[0].setAttribute("class", "layui-unselect layui-form-switch layui-form-onswitch");
                        var d = document.getElementsByTagName('em')[0];
                        d.firstChild.nodeValue = '启用';
                    } else {
                        $(".operation_blackuser input[name=status]").attr('type', 'hidden').removeAttr("checked").val(2);
                        var x = document.getElementsByClassName("layui-unselect layui-form-switch");
                        x[0].setAttribute("class", "layui-unselect layui-form-switch");
                        var d = document.getElementsByTagName('em')[0];
                        d.firstChild.nodeValue = '禁用';
                    }*/
                    form.render(); //更新全部
                    // initTree("");
                    break;
                /*case 'operationRole':
                    CoreUtil.sendAjax("/sys/user/roles/" + data.id, null, function (res) {
                        initTransfer(res.data);
                        layer.open({
                            type: 1,
                            offset: '50px',
                            skin: 'layui-layer-molv',
                            title: "赋予角色",
                            area: ['500px', '400px'],
                            shade: 0,
                            shadeClose: false,
                            content: jQuery("#roles"),
                            btn: ['确定', '取消'],
                            yes: function (index) {
                                //获得右侧数据
                                var roleIds = [];
                                var getData = transfer.getData('ownData');
                                if (getData.length == 0) {
                                    layer.msg("请选择要赋予用户的角色");
                                } else {
                                    $(getData).each(function (index, item) {
                                        roleIds.push(item.value);
                                    });
                                }
                                CoreUtil.sendAjax("/sys/user/roles/" + data.id, JSON.stringify(roleIds), function (res) {
                                    layer.msg(res.msg);
                                    $(".layui-laypage-btn").click();
                                }, "PUT", false, function (res) {
                                    layer.msg("抱歉！您暂无赋予用户角色的权限");
                                });
                                layer.close(index);
                            }
                        });
                    }, "GET", false, function (res) {
                        layer.msg("抱歉！您暂无查询用户所拥有角色列表的权限");
                    });
                    break;*/
            }
        });
        $("#btn_cancel").click(function () {
            $(".blackuser_table_div").show();
            $(".layui-fluid").hide();
            $(".operation_blackuser").hide();
            $("#sex2").val("请选择性别");
            $("#typeInfo2").val("所有类型");
            return false;
        });
        $("#downloadFile").click(function () {
            console.log("1")
            downLoadModel();
            // return false;
        });
        var downLoadModel = function () {
            console.log("2")
            CoreUtil.sendAjax("/sys/downloadModel", JSON.stringify(), function (res) {
                console.log("3")
                console.log("res:"+JSON.stringify(res))
                layer.msg(res.msg);
                //执行下载
                download();
                return;
            }, "GET", false, function (res) {
                layer.msg(res.msg+" 抱歉！您暂无下载的权限");
            });
        };
        var tipDialog = function (userIds, username) {
            if (username == "admin") {
                layer.msg('不可删除管理员', {icon: 5, time: 1000});
                return;
            }
            layer.open({
                content: '确定要删除' + username + "用户么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/sys/blackuser", JSON.stringify(userIds), function (res) {
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "DELETE", false, function (res) {
                        layer.msg("抱歉！您暂无删除用户的权限");
                    });
                }
            });
        };
        form.on('switch(switch)', function () {
            $(".operation_blackuser input[name=status]").attr('type', 'hidden').val(this.checked ? 1 : 2);
        });
        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendAjax("/sys/blackuser", JSON.stringify(data.field), function (res) {
                    $(".blackuser_table_div").show();
                    $(".operation_blackuser").hide();
                    $(".layui-laypage-btn").click();
                }, "POST", false, function (res) {
                    layer.msg("抱歉！您暂无新增用户的权限");
                });
            } else {
                CoreUtil.sendAjax("/sys/blackuser", JSON.stringify(data.field), function (res) {
                    $(".blackuser_table_div").show();
                    $(".operation_blackuser").hide();
                    $(".layui-laypage-btn").click();
                }, "PUT", false, function (res) {
                    layer.msg("抱歉！您暂无编辑用户的权限");
                });
            }
            return false;
        });
        var loadDeptTree = function (data) {
            tree.render({
                elem: '#deptTree'
                , data: data
                , onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                , click: function (obj) {
                    selectNode = obj;
                    layer.msg(JSON.stringify(selectNode.data.title));
                }
            });
        };
        $(".operation_blackuser input[name=deptName]").click(function () {
            layer.open({
                type: 1,
                offset: '0px',
                skin: 'layui-layer-molv',
                title: "选择部门",
                area: ['400px', '550px'],
                shade: 0,
                shadeClose: false,
                content: jQuery("#deptTree"),
                btn: ['确定', '取消'],
                yes: function (index) {
                    if (selectNode.data != null) {
                        //选中回显
                        $(".operation_blackuser input[name=deptId]").val(selectNode.data.id);
                        $(".operation_blackuser input[name=deptName]").val(selectNode.data.title);
                    }
                    layer.close(index);
                }
            });
        });
        /*var initTree = function (id) {
            var param = {deptId: id}
            CoreUtil.sendAjax("/sys/dept/tree", param, function (res) {
                loadDeptTree(res.data);
            }, "GET", false, function (res) {
                layer.msg("抱歉！您暂无获取部门树的权限");
                var noAuthorityData = [];
                loadDeptTree(noAuthorityData);
            });
        };*/
        /* 添加元素后重新加载  */
        var initTree = function () {
            CoreUtil.sendAjax("/sys/blackusers/tree", null, function (res) {
                loadDeptTree(res.data);
            }, "GET", false);
        };
        var initTransfer = function (data) {
            transfer.render({
                elem: '#roles'
                , data: data.allRole
                , title: ['赋予角色', '拥有角色']
                , showSearch: true
                , value: data.ownRoles
                , id: 'ownData'
                , parseData: function (res) {
                    return {
                        "value": res.id //数据值
                        , "title": res.name //数据标题
                    }
                }
            })
        }

    });
</script>
<script type="text/javascript" th:inline="none">
    /**配置文件导入轨迹点
     * 1. 协议:要求最终的格式为一个二维数组，与表格的顺序和格式相对应
     * 2. 扩展添加函数
     * */
    var $ = layui.jquery;
    //全局变量
    var blackOptions = getTableOption("#blackFileList", "黑名单文件");

    function init() {
        layui.use(['table'], function () {
            // 表格初始化 ------------------

            var $ = layui.jquery;
            var table = layui.table; //表格;
            data = []

            // 完成表格数据
            var $ = layui.jquery;
            blackOptions = getTableOption("#blackFileList", "噪声文件");
            // console.log(blackOptions)
            $.extend(blackOptions, {data: data});
            table.render(blackOptions);
        });
    }

    init();

    //获取表格配置项
    function getTableOption(elelVal, name) {
        var options = {
            elem: elelVal
            , height: 600
            , title: name
            , page: true //开启分页
            , cols: [[ //表头
                , {field: 'id', align: 'center', title: "ID", width: 100, sort: true}
                , {field: 'fileName', align: 'center', title: name + '名', width: 240, sort: true}
                , {field: 'fileStatus', align: 'center', title: '状态', width: 246}
                , {fixed: 'right', title: '操作', align: 'center', width: 250, align: 'center', toolbar: '#barDemo'}
            ]],
            data: []
        }
        return options;
    }


    //噪声上传
    layui.use(['table', 'layer', 'laypage', 'form', 'upload'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , laypage = layui.laypage //分页
            , table = layui.table; //表格


        // console.log("token:"+JSON.stringify(localStorage))
        var deptId=null;
        CoreUtil.sendAjax("/sys/getDeptId", JSON.stringify(), function (res) {
            console.log("查询deptId")
            if (res.data != null) {
                deptId=res.data;
                console.log("deptId:"+deptId)
            }
        }, "POST", false, function (res) {
            layer.msg("抱歉！您暂无获取权限");
        });

        //允许批量上传噪声文件数据
        var files;
        var file_index = [];
        var filesData = blackOptions.data;//存储数据
        var demoListView = $('#fileList'),
            uploadListIns = upload.render({
                elem: '.layui-btn-upload', //绑定元素
                headers: window.sessionStorage.getItem('token'),
                url: '/sys/uploadBlackFile', //上传接口
                multiple: true,
                accept: 'file',
                auto: false,
                bindAction: '#uploadFile'
                , before: function (obj) {
                    this.data = {
                        deptId: deptId,
                    }
                }, choose: function (obj) {//选择文件之后的回调函数

                    files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    obj.preview(function (index, file, result) {
                        //列表显示文件信息
                        var fileInfo = {
                            id: filesData.length + 1,
                            fileName: file.name,
                            fileStatus: "等待上传"
                        };
                        filesData.push(fileInfo);
                        $.extend(blackOptions, {data: filesData});
                        table.render(blackOptions);
                        //监听工具栏按钮
                        file_index.push(index);
                        table.on('tool(blackFileTable)', function (obj_tr) {
                            var data = obj_tr.data;
                            console.log("删除的数据；" + JSON.stringify(data));
                            if (obj_tr.event === 'del') {
                                layer.confirm('真的删除行么', function (index_tr) {
                                    var index_file = file_index[data.id - 1];
                                    file_index.splice(data.id - 1, 1);
                                    delete files[index_file];//更新文件列表
                                    obj_tr.del();
                                    deleArrayById(filesData, data.id);//更新表格列表
                                    $.extend(blackOptions, {data: filesData});
                                    table.render(blackOptions);
                                    layer.close(index_tr);
                                });
                            }
                        });
                    });
                }, done: function (res, index, upload) {
                    var data = blackOptions.data;
                    if ((res.operationResult == "SUCCESS")) { //上传成功
                        var index_i = getindexByContent(file_index, index);
                        data[parseInt(index_i)].fileStatus = "上传成功";
                        $.extend(blackOptions, {data: data});
                        table.render(blackOptions);
                        //tds.eq(3).html(''); //清空操作
                        console.log(index);
                        delete files[index]; //删除文件队列已经上传成功的文件
                        return;
                    }
                    this.error(res, index, upload);
                    //上传完毕回调
                }
                , allDone: function (obj) { //当文件全部被提交后，才触发
                    file_index.splice(0, file_index.length);
                    filesData.splice(0, filesData.length);
                    console.log(files);
                }
                , error: function (res, index, upload) {
                    var data = blackOptions.data;
                    //获取下标
                    var index_i = getindexByContent(file_index, index);
                    data[parseInt(index_i)].fileStatus = "上传失败";
                    $.extend(blackOptions, {data: data});
                    table.render(blackOptions);
                }
            });

    });


    function deleArrayById(list, id) {
        //首先id是顺序排列的
        list.splice(id - 1, 1);

        for (var i = 0; i < list.length; i++) {
            if (list[i].id != null)
                list[i].id = i + 1;

        }
    }

    function getindexByContent(list, content) {
        for (var i = 0; i < list.length; i++) {
            if (list[i] == content)
                return i;
        }
    }

    //数据清空
    function clearAll() {
        $.ajax({
            //请求方式
            type: 'POST',
            //路径
            url: '/clear',
            data: "",
            crossDomain: true,
            //返回的数据类型
            dataType: "json",
            success: function (data) {
                var $ = layui.jquery, layer = layui.layer;

                if ((data.operationResult == "SUCCESS")) {
                    init();
                    layerOpen("数据已清除");
                } else {
                    layerOpen("数据清除失败");
                }
            },
            error: function () {
                layerOpen("数据清除失败");
            }

        });

    }

    function layerOpen(msessage) {
        layer.open({
            offset: 1 //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
            , content: '<div style="padding: 20px 100px;">' + msessage + '</div>'
            , btn: '关闭全部'
            , btnAlign: 'c' //按钮居中
            , shade: 0 //不显示遮罩
            , yes: function () {
                layer.closeAll();
            }
        });
    }


</script>
</html>