.page {
  position: absolute;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.box_1 {
  height: 1080px;
  background: url(./img/psze4api6j1djs8co9irabzd1kkucvesn6y8a588ddd-9992-4be3-91ac-f1533dc567a0.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1920px;
}

.box_2 {
  width: 1920px;
  height: 1080px;
  background: url(./img/pskyx5ga2iphddtirwnvgpby8udp6a5sxc10755b8-4030-406a-b64b-a8a68c8ca88d.png)
    100% no-repeat;
  /*background-color: gray;*/
  background-size: 100% 100%;
}

.text-wrapper_1 {
  height: 95px;
  background: url(./img/ps8wj2uuof8nztmv90yunh2ynk8oysaib038093c-c1c1-44c5-a68b-a55cc03fd915.png)
    0px -29px no-repeat;
  background-size: 1896px 124px;
  width: 1896px;
}

.text_1 {
  width: 338px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: SourceHanSansCN-Bold;
  text-align: left;
  white-space: nowrap;
  line-height: 36px;
  margin: 19px 0 0 779px;
}

.box_3 {
  width: 1920px;
  height: 986px;
  margin-bottom: 1px;
}

.group_1 {
  width: 1865px;
  height: 451px;
  margin: 17px 0 0 26px;
}

.group_2 {
  position: relative;
  width: 556px;
  height: 451px;
  background: url(./img/psx4lzmn4qkgn66ry7knj6ceva1cfp1p3he855dd9a-9090-45ca-bae2-a09c9bb8d2e7.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_2 {
  width: 146px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
  margin: 25px 0 0 222px;
}

.group_3 {
  width: 428px;
  height: 92px;
  margin: 36px 0 0 69px;
}

.text_3 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin-top: 37px;
}

.image_1 {
  width: 74px;
  height: 39px;
  margin: 43px 0 0 12px;
}

.box_4 {
  width: 125px;
  height: 92px;
  margin-left: 136px;
}

.box_5 {
  width: 125px;
  height: 42px;
}

.image_2 {
  width: 78px;
  height: 37px;
  margin-top: 5px;
}

.text_4 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
}

.image_3 {
  width: 78px;
  height: 37px;
  margin: 13px 0 0 45px;
}

.text_5 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 50px 0 0 9px;
}

.group_4 {
  width: 428px;
  height: 51px;
  margin: 91px 0 0 69px;
}

.text_6 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin-top: 39px;
}

.image_4 {
  width: 97px;
  height: 35px;
  margin: 11px 0 0 12px;
}

.image_5 {
  width: 89px;
  height: 29px;
  margin-left: 145px;
}

.text_7 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 25px 0 0 13px;
}

.group_5 {
  width: 453px;
  height: 21px;
  margin: 63px 0 49px 56px;
}

.block_1 {
  background-color: rgba(2, 233, 132, 1);
  width: 20px;
  height: 20px;
}

.text_8 {
  width: 64px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 2px 0 0 10px;
}

.block_2 {
  background-color: rgba(0, 253, 255, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 20px;
}

.text_9 {
  width: 32px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 3px 0 0 10px;
}

.block_3 {
  background-color: rgba(0, 207, 255, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 20px;
}

.text_10 {
  width: 48px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 3px 0 0 10px;
}

.block_4 {
  background-color: rgba(0, 207, 255, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 19px;
}

.text_11 {
  width: 47px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 3px 0 0 11px;
}

.block_5 {
  background-color: rgba(2, 105, 233, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 20px;
}

.text_12 {
  width: 32px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 2px 0 0 10px;
}

.group_6 {
  position: absolute;
  left: 176px;
  top: 113px;
  width: 194px;
  height: 194px;
  background: url(./img/psbt9tmac4nzdnxvtc8rnwiqrkxdcg0k8sb519d623-348d-45fa-b067-b9f4e8606c9c.png) -1px -1px
    no-repeat;
  background-size: 195px 196px;
}

.group_7 {
  position: relative;
  width: 710px;
  height: 451px;
  background: url(./img/ps1dvyw4b3yr9hhawnrs7xxg8f5kjgwurlth6cf09fcd-a7e8-4885-a333-afebc79d8561.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 23px;
}

.group_8 {
  width: 647px;
  height: 58px;
  margin: 36px 0 0 36px;
}

.text_13 {
  width: 74px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PangMenZhengDao;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
  margin-top: 31px;
}

.text-wrapper_2 {
  height: 58px;
  background: url(./img/ps0qi0dvz06ngpyaifpugczrvleoyo91lu27e77fe2-1c91-42f4-ad7a-7ae32797bd06.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 9px;
  width: 34px;
}

.text_14 {
  width: 22px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PangMenZhengDao;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 18px 0 0 7px;
}

.text-wrapper_3 {
  height: 58px;
  background: url(./img/ps75cnq8rbadu12ck2yqpumpe639x8tuyjfba28eef-2ce9-495a-9f8e-5a74387787e7.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 7px;
  width: 34px;
}

.text_15 {
  width: 21px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PangMenZhengDao;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 17px 0 0 8px;
}

.text-wrapper_4 {
  height: 58px;
  background: url(./img/ps3i9ci6r648vvfmbxny2e62xsoxtrerzx45e96879-a2a5-4dfe-8a41-6ecfdf24cd92.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 6px;
  width: 34px;
}

.text_16 {
  width: 20px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PangMenZhengDao;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 18px 0 0 12px;
}

.text_17 {
  width: 15px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PangMenZhengDao;
  text-align: left;
  white-space: nowrap;
  line-height: 16px;
  margin: 31px 0 0 10px;
}

.text-wrapper_5 {
  height: 37px;
  background: url(./img/ps4dqgxpmicel4gilmu3bi2vbqpu5kkmnkg8ed58e21-ead3-40ea-b9f8-75c13d5b5a31.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 84px;
  margin: 12px 0 0 246px;
}

.text_18 {
  width: 64px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 10px 0 0 10px;
}

.text-wrapper_6 {
  height: 37px;
  background: url(./img/pshqv6iv8utq9rbwjmd77npef3bpgxrpo15cc218f-795f-4144-a533-6b2fa0724d87.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 84px;
  margin: 12px 0 0 10px;
}

.text_19 {
  width: 64px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 32px;
  margin: 10px 0 0 10px;
}

.group_9 {
  width: 534px;
  height: 14px;
  margin: 69px 0 0 77px;
}

.text_20 {
  width: 18px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
}

.group_10 {
  width: 509px;
  height: 2px;
  background: url(./img/psf6p5688i5mrce2tpzb8dkbcrwj15luc32d6c918-8ff0-419e-9e19-4ea90070c172.png)
    0px -1px no-repeat;
  background-size: 510px 3px;
  margin-top: 9px;
}

.group_11 {
  width: 534px;
  height: 14px;
  margin: 37px 0 0 77px;
}

.text_21 {
  width: 18px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
}

.box_6 {
  width: 509px;
  height: 2px;
  background: url(./img/psqu8vkybktw5hbm8nc3cl5fjapdgooz8c4e1f818-f7e1-4ee8-b529-37544a9d7283.png)
    0px -1px no-repeat;
  background-size: 509px 3px;
  margin-top: 8px;
}

.group_12 {
  width: 535px;
  height: 14px;
  margin: 35px 0 0 77px;
}

.text_22 {
  width: 17px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
}

.image_6 {
  width: 509px;
  height: 2px;
  margin-top: 11px;
}

.group_13 {
  width: 536px;
  height: 14px;
  margin: 37px 0 0 76px;
}

.text_23 {
  width: 18px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
}

.section_1 {
  width: 509px;
  height: 2px;
  background: url(./img/psrgufvf1vh5rs9kjtzjtp8ogne61aj4a1c549c57-8a6a-44d2-95ee-b70758ed3e82.png) -1px
    0px no-repeat;
  background-size: 510px 2px;
  margin-top: 7px;
}

.group_14 {
  width: 527px;
  height: 14px;
  margin: 37px 0 0 85px;
}

.text_24 {
  width: 9px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
}

.image_7 {
  width: 510px;
  height: 2px;
  margin-top: 5px;
}

.text_25 {
  width: 40px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin: -1px 0 59px 613px;
}

.group_15 {
  position: absolute;
  left: 90px;
  top: 172px;
  width: 549px;
  height: 225px;
  background: url(./img/psxmd9iposoam6kn5krv2wib97y9to4sbl8a923ead-9ebf-4e53-8237-6048c85481ad.png) -1px
    0px no-repeat;
  background-size: 550px 226px;
}

.image-text_1 {
  width: 535px;
  height: 221px;
  margin-left: 10px;
}

.block_6 {
  position: relative;
  width: 535px;
  height: 198px;
  background: url(./img/ps4ptcmanm2d8948fv5cb6gehvp7je662kp9ccdd4b2-460e-47cb-af9f-4cfee5f481bb.png) -1px
    0px no-repeat;
  background-size: 536px 199px;
}

.section_2 {
  width: 2px;
  height: 6px;
  margin: 192px 0 0 111px;
}

.section_3 {
  width: 2px;
  height: 6px;
  margin: 192px 0 0 51px;
}

.section_4 {
  width: 2px;
  height: 6px;
  margin: 192px 0 0 53px;
}

.section_5 {
  width: 2px;
  height: 6px;
  margin: 191px 0 0 52px;
}

.section_6 {
  width: 2px;
  height: 6px;
  margin: 191px 0 0 53px;
}

.section_7 {
  width: 2px;
  height: 6px;
  margin: 191px 0 0 51px;
}

.section_8 {
  width: 2px;
  height: 6px;
  margin: 192px 0 0 71px;
}

.section_9 {
  width: 2px;
  height: 6px;
  margin: 192px 22px 0 55px;
}

.section_10 {
  position: absolute;
  left: 56px;
  top: 193px;
  width: 2px;
  height: 6px;
}

.text-group_1 {
  width: 468px;
  height: 16px;
  margin: 7px 0 0 19px;
}

.text_26 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin-top: 1px;
}

.text_27 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin: 1px 0 0 27px;
}

.text_28 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin: 1px 0 0 26px;
}

.text_29 {
  width: 32px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin: 1px 0 0 26px;
}

.text_30 {
  width: 39px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin: 1px 0 0 26px;
}

.text_31 {
  width: 39px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin-left: 27px;
}

.text_32 {
  width: 39px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin-left: 26px;
}

.text_33 {
  width: 41px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(77, 155, 159, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 8px;
  margin: 2px 0 0 27px;
}

.group_16 {
  height: 451px;
  background: url(./img/psydet9192r2d09872r3v5mws1d8bym15tije6b72273-6137-41ac-b18a-33f1707a4b49.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 20px;
  width: 556px;
  position: relative;
}

.text-wrapper_7 {
  width: 145px;
  height: 22px;
  margin: 25px 0 0 222px;
}

.text_34 {
  width: 145px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.box_7 {
  width: 428px;
  height: 92px;
  margin: 33px 0 0 75px;
}

.text_35 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin-top: 37px;
}

.image_8 {
  width: 74px;
  height: 39px;
  margin: 43px 0 0 12px;
}

.block_7 {
  width: 125px;
  height: 92px;
  margin-left: 136px;
}

.section_11 {
  width: 125px;
  height: 42px;
}

.image_9 {
  width: 78px;
  height: 37px;
  margin-top: 5px;
}

.text_36 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
}

.image_10 {
  width: 78px;
  height: 37px;
  margin: 13px 0 0 45px;
}

.text_37 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 50px 0 0 9px;
}

.box_8 {
  width: 428px;
  height: 51px;
  margin: 91px 0 0 75px;
}

.text_38 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin-top: 39px;
}

.image_11 {
  width: 97px;
  height: 35px;
  margin: 11px 0 0 12px;
}

.image_12 {
  width: 89px;
  height: 29px;
  margin-left: 145px;
}

.text_39 {
  width: 36px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(0, 207, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 25px 0 0 13px;
}

.box_9 {
  width: 453px;
  height: 21px;
  margin: 63px 0 53px 62px;
}

.box_10 {
  background-color: rgba(2, 233, 132, 1);
  width: 20px;
  height: 20px;
}

.text_40 {
  width: 32px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 2px 0 0 10px;
}

.box_11 {
  background-color: rgba(0, 253, 255, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 28px;
}

.text_41 {
  width: 32px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 3px 0 0 10px;
}

.box_12 {
  background-color: rgba(0, 207, 255, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 28px;
}

.text_42 {
  width: 47px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 3px 0 0 11px;
}

.box_13 {
  background-color: rgba(0, 207, 255, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 27px;
}

.text_43 {
  width: 48px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 3px 0 0 10px;
}

.box_14 {
  background-color: rgba(2, 105, 233, 1);
  width: 20px;
  height: 20px;
  margin: 1px 0 0 28px;
}

.text_44 {
  width: 32px;
  height: 16px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  white-space: nowrap;
  line-height: 36px;
  margin: 2px 0 0 10px;
}

.box_15 {
  position: absolute;
  left: 181px;
  top: 109px;
  width: 194px;
  height: 194px;
  background: url(./img/psp2qbkpno4ylny9ubarj69g4ecaiaurbjkeb7706cf-bb3f-445a-bc2e-0927cae69d0c.png)
    0px -1px no-repeat;
  background-size: 195px 196px;
}

.group_17 {
  width: 1865px;
  height: 481px;
  margin: 15px 0 22px 26px;
}

.group_18 {
  height: 481px;
  background: url(./img/ps3xhqm7w0yrl23equgj30jmhe48h6u7w3yqdaccd933-97ad-4c0a-8868-0a6632d6863f.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 556px;
}

.text-wrapper_8 {
  width: 170px;
  height: 23px;
  margin: 25px 0 0 208px;
}

.text_45 {
  width: 170px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.text-wrapper_9 {
  width: 44px;
  height: 21px;
  margin: 44px 0 0 32px;
}

.text_46 {
  width: 44px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.box_16 {
  width: 485px;
  height: 16px;
  margin: 11px 0 0 33px;
}

.image-wrapper_1 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  height: 14px;
  margin-top: 2px;
  width: 441px;
}

.image_13 {
  width: 441px;
  height: 14px;
}

.text_47 {
  width: 29px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.text-wrapper_10 {
  width: 43px;
  height: 18px;
  margin: 28px 0 0 32px;
}

.text_48 {
  width: 43px;
  height: 18px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.box_17 {
  width: 475px;
  height: 16px;
  margin: 12px 0 0 33px;
}

.image-wrapper_2 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  height: 14px;
  margin-top: 2px;
  width: 441px;
}

.image_14 {
  width: 139px;
  height: 14px;
}

.text_49 {
  width: 20px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.text-wrapper_11 {
  width: 42px;
  height: 21px;
  margin: 25px 0 0 32px;
}

.text_50 {
  width: 42px;
  height: 21px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.box_18 {
  width: 474px;
  height: 16px;
  margin: 11px 0 0 33px;
}

.image-wrapper_3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  height: 14px;
  margin-top: 2px;
  width: 441px;
}

.image_15 {
  width: 200px;
  height: 14px;
}

.text_51 {
  width: 19px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.text-wrapper_12 {
  width: 42px;
  height: 20px;
  margin: 27px 0 0 33px;
}

.text_52 {
  width: 42px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.box_19 {
  width: 474px;
  height: 16px;
  margin: 11px 0 0 33px;
}

.image-wrapper_4 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  height: 14px;
  margin-top: 2px;
  width: 441px;
}

.image_16 {
  width: 252px;
  height: 14px;
}

.text_53 {
  width: 19px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.text-wrapper_13 {
  width: 44px;
  height: 22px;
  margin: 25px 0 0 32px;
}

.text_54 {
  width: 44px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 22px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.box_20 {
  width: 474px;
  height: 16px;
  margin: 10px 0 47px 33px;
}

.image-wrapper_5 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  height: 14px;
  margin-top: 2px;
  width: 441px;
}

.image_17 {
  width: 106px;
  height: 14px;
}

.text_55 {
  width: 19px;
  height: 15px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.group_19 {
  height: 481px;
  background: url(./img/ps8qkyl0yhoerp1kxjeoetpiqevul7a1kye920f4053-6985-44ae-97e0-cd755c3c9357.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1286px;
}

.text-wrapper_14 {
  width: 195px;
  height: 23px;
  margin: 25px 0 0 546px;
}

.text_56 {
  width: 195px;
  height: 23px;
  overflow-wrap: break-word;
  color: rgba(68, 240, 233, 1);
  font-size: 24px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 51px;
}

.box_21 {
  width: 1146px;
  height: 332px;
  margin: 59px 0 0 70px;
}

.paragraph_1 {
  width: 16px;
  height: 331px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: right;
  line-height: 64px;
  margin-top: 1px;
}

.box_22 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 79px;
}

.text_57 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 100px 0 0 4px;
}

.label_1 {
  width: 40px;
  height: 34px;
  margin-top: 7px;
}

.block_8 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 174px;
  margin-bottom: 1px;
}

.box_23 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_58 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.label_2 {
  width: 40px;
  height: 34px;
  margin-top: 6px;
}

.block_9 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_24 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_59 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.label_3 {
  width: 40px;
  height: 34px;
  margin-top: 6px;
}

.block_10 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_25 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_60 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.block_11 {
  width: 40px;
  height: 34px;
  background: url(./img/ps3vdlrjv5s21o1wsf8tonmii5sj2ftkwb25d742c4-6490-4268-9b1d-e39afee577e4.png) -1px
    0px no-repeat;
  background-size: 41px 34px;
  margin-top: 6px;
}

.block_12 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_26 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_61 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.label_4 {
  width: 40px;
  height: 34px;
  margin-top: 6px;
}

.section_12 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_27 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_62 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.group_20 {
  width: 40px;
  height: 34px;
  background: url(./img/psio6duj8j4vyboggzm2qqah3hs3nn5l3s6dbad1aa-330a-452b-8e10-7da16e7eef5c.png) -1px
    0px no-repeat;
  background-size: 41px 34px;
  margin: 6px 0 0 1px;
}

.group_21 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_28 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 62px;
}

.text_63 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.box_29 {
  width: 40px;
  height: 34px;
  background: url(./img/ps264h3mxisoojjztrpu2t3me02u1izn0f8cb5a65b7-2a04-4f4b-a030-ab40a7582ade.png) -1px
    0px no-repeat;
  background-size: 41px 34px;
  margin-top: 6px;
}

.box_30 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_31 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_64 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.label_5 {
  width: 40px;
  height: 34px;
  margin-top: 6px;
}

.group_22 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_32 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_65 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.group_23 {
  width: 40px;
  height: 34px;
  background: url(./img/ps4y32ibmdp6x863a5x6ywwwzggxz2n55o4c36c66d-3400-4c8d-8021-0c9d74b5ec29.png) -1px
    0px no-repeat;
  background-size: 41px 34px;
  margin: 6px 0 0 1px;
}

.group_24 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_33 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_66 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.label_6 {
  width: 40px;
  height: 34px;
  margin-top: 6px;
}

.box_34 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.box_35 {
  background-color: rgba(1, 49, 114, 0.08);
  width: 40px;
  height: 330px;
  margin-left: 61px;
}

.text_67 {
  width: 31px;
  height: 14px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: SourceHanSansCN-Medium;
  text-align: left;
  white-space: nowrap;
  line-height: 178px;
  margin: 70px 0 0 4px;
}

.label_7 {
  width: 40px;
  height: 34px;
  margin-top: 6px;
}

.group_25 {
  background-image: linear-gradient(
    180deg,
    rgba(26, 128, 255, 1) 0,
    rgba(26, 128, 255, 1) 0,
    rgba(40, 247, 225, 1) 100%,
    rgba(40, 247, 225, 1) 100%
  );
  width: 40px;
  height: 207px;
  margin-top: -1px;
}

.text-wrapper_15 {
  width: 1057px;
  height: 12px;
  margin: 8px 0 22px 162px;
}

.text_68 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
}

.text_69 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 57px;
}

.text_70 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 58px;
}

.text_71 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 57px;
}

.text_72 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 57px;
}

.text_73 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 57px;
}

.text_74 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 58px;
}

.text_75 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 57px;
}

.text_76 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 57px;
}

.text_77 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 58px;
}

.text_78 {
  width: 44px;
  height: 12px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 14px;
  margin-left: 57px;
}
