<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>体测数据列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/form.css">
    <script src="/layui/layui.all.js"></script>
    <script src="/js/util.js"></script>
</head>
<style>
    -webkit-scrollbar-track {
        background-color:red;/*transparent*/
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
    }
</style>
<body>
<div class="panel panel-default operation_user" hidden>
    <div class="panel-heading title" style="text-align: center"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="deptInfo" style="width: 700px;margin-top: 10px">

            <input name="id" hidden/>

            <div class="layui-form-item">
                <label class="layui-form-label">用户身份证</label>
                <div class="layui-input-block">
                    <input type="typeName" id="identitycard2" name="identitycard" placeholder="请输入用户身份证" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">免测</label>
                <div class="layui-input-block">
                    <select  id="exempt2" name="exempt"  >
                        <option value="">免测状态</option>
                        <option value="1">是</option>
                        <option value="2">否</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">身高</label>
                <div class="layui-input-block">
                    <input type="typeName" name="height" placeholder="请输入用户身高" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">体重</label>
                <div class="layui-input-block">
                    <input type="typeName" name="weight" placeholder="请输入用户体重" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="user_table_div">
    <div id="searchParam" shiro:hasPermission="sys:physical:list">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="identitycard" class="layui-input" autocomplete="off" placeholder="请输入用户身份证">
            </div>
            <div class="layui-input-inline layui-form">
                <select  id="exempt"  >
                    <option value="">请选择免测状态</option>
                    <option value="1">是</option>
                    <option value="2">否</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" id="height" class="layui-input" autocomplete="off" placeholder="请输入身高">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="weight" class="layui-input" autocomplete="off" placeholder="请输入体重">
            </div>
        </div>
        <div class="layui-inline">
            <button id="Reset" type="reset" class="layui-btn layui-btn-primary" style="margin-top: 0px">
                <i class="layui-icon layui-icon-fonts-clear"></i> 清 空
            </button>
        </div>
    </div>
    <table class="layui-hide" id="user_table" lay-filter="user_table"></table>
    <div id="laypage" class= "$(" .layui-laypage-btn").click();"></div>
</div>
</body>
<script type="text/html" id="toolbar">
    <div class="layui-btn-group" id="search">
        <button type="button" class="layui-btn" lay-event="search" >
            <i class="layui-icon">&#xe615;</i> 开始检索
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-danger" lay-event="batchDeleted"
                shiro:hasPermission="sys:physical:deleted">
            <i class="layui-icon">&#xe608;</i> 批量删除
        </button>
    </div>
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-normal" lay-event="addData"
                shiro:hasPermission="sys:physical:add">
            <i class="layui-icon">&#xe608;</i> 新增数据
        </button>
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="sys:physical:update">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="sys:physical:deleted">删除</a>
</script>
<script>
    var table = layui.table;
    var laypage = layui.laypage
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var tree = layui.tree;
    var transfer = layui.transfer;

    layui.use(['table', 'laypage', 'layer', 'laydate', 'tree', 'transfer'], function () {
        form.render();
        var searchParam = {
            identitycard: null,
            exempt: null,
            pageNum: 1,
            pageSize: 10
        }
        //清空条件
        $('#Reset').on('click', function(){
            console.log("清空")
            $("#identitycard").val("");
            $("#height").val("");
            $("#weight").val("");
            $("#exempt").val("请选择免测状态");
            form.render("select") //重新渲染单下拉框
        });

        //获取表格数据
        CoreUtil.sendAjax("/physical/physicals", JSON.stringify(searchParam), function (res) {
            laypageTable(res.data.totalRows, searchParam.pageNum);
            if (res.data.list != null) {
                loadTable(res.data.list);
            }
        }, "POST", false, function (res) {
            layer.msg("抱歉！您暂无获取体测数据的权限");
            var noAuthorityData = [];
            loadTable(noAuthorityData);
        });

        var laypageTable = function (count, currentPage) {
            laypage.render({
                elem: 'laypage'
                , count: count
                , limit: searchParam.pageSize
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , curr: location.hash.replace('#!currentPage=', '') //获取起始页
                , hash: 'currentPage' //自定义hash值
                , jump: function (obj, first) {
                    if (!first) {
                        searchParam.pageNum = obj.curr;
                        searchParam.pageSize = obj.limit;
                        CoreUtil.sendAjax("/physical/physicals", JSON.stringify(searchParam), function (res) {
                            if (res.data.list != null) {
                                loadTable(res.data.list);
                                laypageTable(res.data.totalRows, searchParam.pageNum);
                            }
                        }, "POST", false, function (res) {
                            layer.msg("抱歉！您暂无获取体测数据的权限");
                            var noAuthorityData = [];
                            loadTable(noAuthorityData);
                        });
                    }
                }
            });
        };
        //渲染table
        var loadTable = function (data) {
            table.render({
                elem: '#user_table'
                , cols: [
                    [
                        {type: 'checkbox', fixed: 'left'},
                        // {field: 'id', align: 'center', title: 'id'},
                        {field: 'identitycard', align: 'center', title: '身份证'},
                        {field: 'exempt', align: 'center', title: '免测'},
                        {field: 'customer_name', align: 'center', title: '姓名',templet: function (data) {
                            if(data.customer!=null)
                                return data.customer.customer_name;
                            else
                                return "空";
                            }},
                        {field: 'height', align: 'center', title: '身高 cm'},
                        {field: 'weight', align: 'center', title: '体重 kg'},
                        {field: 'vitalCapacity', align: 'center', title: '肺活量 ml'},
                        {field: 'runFifty', align: 'center', title: '50米跑/s'},
                        {field: 'settingForward', align: 'center', title: '坐位体前屈 cm'},
                        {field: 'skippingRope', align: 'center', title: '跳绳 个/min'},
                        {field: 'leftVision', align: 'center', title: '左眼视力'},
                        {field: 'rightVision', align: 'center', title: '右眼视力'},
                        {field: 'leftError', align: 'center', title: '左眼屈光不正'},
                        {field: 'rightError', align: 'center', title: '右眼屈光不正'},
                        {field: 'leftMirror', align: 'center', title: '左眼串镜'},
                        {field: 'rightMirror', align: 'center', title: '右眼串镜'},
                        {field: 'abdominalCurl', align: 'center', title: '仰卧起坐 个/min'},
                        {field: 'runBack', align: 'center', title: '50米*8往返跑 s'},
                        {
                            field: 'createTime', align: 'center', title: '创建时间', width: 170, templet: function (item) {
                                return CoreUtil.formattime(item.createTime);
                            }
                        },
                        {
                            field: 'updateTime', align: 'center', title: '更新时间', width: 170, templet: function (item) {
                                return CoreUtil.formattime(item.updateTime);
                            }
                        },
                        {width: 180, align: 'center', toolbar: "#tool", title: '操作'}
                    ]
                ]
                , data: data
                , even: true
                , limit: data.length
                , limits: [10, 20, 30, 50, 100]
                , toolbar: '#toolbar'
            });
        };
        // laydate.render({
        //     elem: '#createTime'
        //     , type: 'datetime'
        //     , range: '~'
        //     , done: function (value, date, endDate) {
        //         if (value != null && value != undefined && value != "") {
        //             searchParam.startTime = value.split("~")[0];
        //             searchParam.endTime = value.split("~")[1];
        //         } else {
        //             searchParam.startTime = null;
        //             searchParam.endTime = null;
        //         }
        //     }
        // });


        table.on('toolbar(user_table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) { 
                        layer.msg("请选择要批量删除的体测数据");
                    } else {
                        var userIds = [];
                        $(data).each(function (index, item) {
                            userIds.push(item.id);
                        });
                        deleteExercise(userIds, "选中");
                    }
                    break;
                case 'addData':
                    form.render();
                    $(".title").html("新增体测数据");
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $(".operation_user input[name=identitycard]").val("");
                    document.getElementById("identitycard2").disabled=false;
                    $(".operation_user input[name=height]").val("");
                    $(".operation_user input[name=weight]").val("");
                    $("#exempt2").val("请选择免测状态");
                    form.render("select") //重新渲染单下拉框
                    break;
                case 'search':
                    searchParam.identitycard=$("#identitycard").val();
                    searchParam.exempt=$("#exempt").val();
                    searchParam.pageNum=1;
                    console.log("physicals:"+JSON.stringify(searchParam))
                    CoreUtil.sendAjax("/physical/physicals", JSON.stringify(searchParam), function (res) {
                        laypageTable(res.data.totalRows, searchParam.pageNum);
                        if (res.data.list != null) {
                            loadTable(res.data.list);
                        }
                    }, "POST", false, function (res) {
                        layer.msg("抱歉！您暂无获取体测数据权限");
                        var noAuthorityData = [];
                        loadTable(noAuthorityData);
                    });
                    break;
            }
            ;
        });
        table.on('tool(user_table)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    // console.log("删除："+JSON.stringify(data))
                    var userIds = [];
                    userIds.push(data.id);
                    deleteExercise(userIds,data.customer_name);
                    break;
                case 'edit':
                    $(".user_table_div").hide();
                    $(".operation_user").show();
                    $(".title").html("编辑体测数据");
                    $(".operation_user input[name=id]").val(data.id);
                    $(".operation_user input[name=identitycard]").val(data.identitycard);
                    document.getElementById("identitycard2").disabled=true;
                    $(".operation_user input[name=height]").val(data.height);
                    $(".operation_user input[name=weight]").val(data.weight);
                    $("#exempt2").val(data.exempt);
                    form.render(); //更新全部
                    break;
            }
        });
        $("#btn_cancel").click(function () {
            $(".user_table_div").show();
            $(".operation_user").hide();
            return false;
        });
        var deleteExercise = function (userIds,name) {
            layer.open({
                content: '确定要删除'+name+'的体测数据么?',
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendAjax("/physical/physical", JSON.stringify(userIds), function (res) {
                        layer.msg(res.msg);
                        $(".layui-laypage-btn").click();
                    }, "DELETE", false, function (res) {
                        layer.msg("抱歉！您暂无删除体测数据的权限");
                    });
                }
            });
        };
        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                CoreUtil.sendAjax("/physical/physical", JSON.stringify(data.field), function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    $(".layui-laypage-btn").click();
                }, "POST", false, function (res) {
                    layer.msg("抱歉！您暂无新增体测数据的权限");
                });
            } else {
                // console.log("修改："+JSON.stringify(data))
                CoreUtil.sendAjax("/physical/physical", JSON.stringify(data.field), function (res) {
                    $(".user_table_div").show();
                    $(".operation_user").hide();
                    $(".layui-laypage-btn").click();
                }, "PUT", false, function (res) {
                    layer.msg("抱歉！您暂无编辑体测数据的权限");
                });
            }
            return false;
        });
    });
</script>
</html>