<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiie.common.mapper.BlackUserMapper">
    <resultMap id="BaseResultMap" type="com.yiie.entity.BlackUser">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="identityCard" jdbcType="VARCHAR" property="identityCard" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="deptID" jdbcType="VARCHAR" property="deptID" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="typeInfo" jdbcType="VARCHAR" property="typeInfo" />
        <result column="importTime" jdbcType="VARCHAR" property="importTime" />
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
        <collection property="dept" resultMap="Dept">

        </collection>
    </resultMap>
    <resultMap id="Dept" type="com.yiie.entity.Dept">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="deptNo" jdbcType="VARCHAR" property="deptNo"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="pidName" jdbcType="VARCHAR" property="pidName"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="relationCode" jdbcType="VARCHAR" property="relationCode"/>
        <result column="deptManagerId" jdbcType="VARCHAR" property="deptManagerId"/>
        <result column="managerName" jdbcType="VARCHAR" property="managerName"/>
        <result column="phone" jdbcType="TINYINT" property="phone"/>
        <result column="createTime" jdbcType="TINYINT" property="createTime"/>
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.yiie.entity.BlackUser">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="identityCard" jdbcType="VARCHAR" property="identityCard" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="deptID" jdbcType="VARCHAR" property="deptID" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="typeInfo" jdbcType="VARCHAR" property="typeInfo" />
        <result column="importTime" jdbcType="VARCHAR" property="importTime" />
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
        <collection property="dept" resultMap="Dept2">

        </collection>
    </resultMap>
    <resultMap id="Dept2" type="com.yiie.entity.Dept">
        <id column="Did" jdbcType="VARCHAR" property="id"/>
        <result column="deptNo" jdbcType="VARCHAR" property="deptNo"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="pidName" jdbcType="VARCHAR" property="pidName"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="relationCode" jdbcType="VARCHAR" property="relationCode"/>
        <result column="deptManagerId" jdbcType="VARCHAR" property="deptManagerId"/>
        <result column="managerName" jdbcType="VARCHAR" property="managerName"/>
        <result column="Dphone" jdbcType="TINYINT" property="phone"/>
        <result column="createTime" jdbcType="TINYINT" property="createTime"/>
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, identityCard, username, deptID, phone, typeInfo, importTime, updateTime, sex, deleted
    </sql>

    <select id="getBlackUserInfoByNameByDeptID" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM blacklists
        WHERE username=#{username}
        AND deptID=#{deptID}
        AND deleted=1
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from blacklists
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="getBlackUserInfoByIdentityCardAndDeptID" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM blacklists
        WHERE identityCard=#{identityCard}
        AND deptID=#{deptID}
        AND deleted=1
    </select>
    <!--dept.id as Did,dept.phone as Dphone,dept.deleted-->
    <select id="selectAllBlackUserWithDeptID" resultMap="BaseResultMap" parameterType="com.yiie.vo.request.BlackUserPageReqVO">
        select
        b.id, b.identityCard, b.username, b.deptID, b.phone, b.typeInfo, b.importTime, b.updateTime, b.sex, b.deleted,
        dept.dept_no,dept.name,dept.pid,dept.status,dept.relation_code,dept.dept_manager_id,dept.manager_name,dept.create_time,dept.update_time
        from blacklists b
        left join dept
        on b.deptID=dept.id
        <where>
            b.deleted=1
            <if test="deptId!=null and deptId!=''">
                AND b.deptID=#{deptId}
            </if>
            <if test="identityCard!=null and identityCard!=''">
                AND identityCard=#{identityCard}
            </if>
            <if test="username!=null and username!=''">
                AND username like CONCAT('%',#{username},'%')
            </if>
            <if test="phone!=null and phone!='' ">
                AND b.phone=#{phone}
            </if>
            <if test="typeInfo!=null and typeInfo!=''">
                AND typeInfo=#{typeInfo}
            </if>
            <if test="importTime1!=null and importTime1!='' and importTime2!=null and importTime2!=''">
                AND importTime between #{importTime1} and #{importTime2}
            </if>
            <if test="updateTime!=null and updateTime!=''">
                AND b.updateTime=#{updateTime}
            </if>
            <if test="sex!=null and sex!='' or sex==0 ">
                AND sex=#{sex}
            </if>
        </where>
        order by identityCard
    </select>

    <select id="selectBlackUserInfoByIdentityCards" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from blacklists
        where identityCard in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and deptID=#{deptID}
        and deleted=1
    </select>

    <select id="getUserListByDeptId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from blacklists
        where deptID=#{deptID}
        and deleted=1
    </select>
    <select id="getByIdentityCard" resultType="com.yiie.entity.BlackUser">
        select * from blacklists
        where identityCard=#{identityCard}
    </select>


    <insert id="insertSelective" parameterType="com.yiie.entity.BlackUser">
        insert into blacklists
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="identityCard != null">
                identityCard,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="deptID!=null">
                deptID,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="typeInfo != null">
                typeInfo,
            </if>
            <if test="importTime != null">
                importTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="identityCard != null">
                #{identityCard},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="deptID!=null">
                #{deptID, jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="typeInfo != null">
                #{typeInfo,jdbcType=VARCHAR},
            </if>
            <if test="importTime != null">
                #{importTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!-- when update we don't need to update the deptID -->
    <update id="updateByPrimaryKeySelective" parameterType="com.yiie.entity.BlackUser">
        update blacklists
        <set>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="identityCard != null">
                identityCard = #{identityCard,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="typeInfo != null">
                typeInfo = #{typeInfo,jdbcType=VARCHAR},
            </if>
            <if test="importTime != null">
                importTime = #{importTime,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="deletedBlackUsers" parameterType="com.yiie.entity.BlackUser">
        update blacklists
        <set>
            deleted = 0,
            <if test="sysUser.updateTime != null">
                updateTime = #{sysUser.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
</mapper>