<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiie.common.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.yiie.entity.Customer">
        <id column="customer_id" jdbcType="VARCHAR" property="customer_id" />
        <result column="customer_identity_card" jdbcType="VARCHAR" property="customer_identity_card" />
        <result column="customer_name" jdbcType="VARCHAR" property="customer_name" />
        <result column="customer_nickname" jdbcType="VARCHAR" property="customer_nickname" />
        <result column="customer_weight" jdbcType="DOUBLE" property="customer_weight" />
        <result column="customer_height" jdbcType="DOUBLE" property="customer_height" />
        <result column="customer_birthday" jdbcType="TIMESTAMP" property="customer_birthday" />
        <result column="customer_location" jdbcType="VARCHAR" property="customer_location" />
        <result column="customer_hobby" jdbcType="VARCHAR" property="customer_hobby" />
        <result column="customer_disease" jdbcType="VARCHAR" property="customer_disease" />
        <result column="customer_picture" jdbcType="VARCHAR" property="customer_picture" />
        <result column="customer_gender" jdbcType="TINYINT" property="customer_gender" />
        <result column="customer_phone" jdbcType="VARCHAR" property="customer_phone" />
        <result column="customer_fitness_QRCode" jdbcType="VARCHAR" property="customer_fitness_QRCode" />
        <result column="customer_contacts_id" jdbcType="VARCHAR" property="customer_contacts_id" />
        <result column="customer_info_id" jdbcType="VARCHAR" property="customer_info_id" />
        <result column="customer_create_time" jdbcType="TIMESTAMP" property="customer_create_time" />
        <result column="customer_update_time" jdbcType="TIMESTAMP" property="customer_update_time" />
        <result column="customer_deleted" jdbcType="TINYINT" property="customer_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        customer_id, customer_identity_card, customer_name, customer_nickname, customer_weight, customer_height, customer_birthday, customer_location, customer_hobby,
        customer_disease, customer_picture, customer_gender, customer_phone, customer_fitness_QRCode, customer_contacts_id, customer_info_id, customer_create_time,
        customer_update_time, customer_deleted
    </sql>

    <select id="getCustomerInfoByName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM customer
        WHERE customer_name=#{customer_name}
        AND customer_deleted=1
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer
        where customer_id = #{customer_id,jdbcType=VARCHAR}
    </select>

    <select id="getCustomerByIdentityCard" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM customer
        WHERE customer_identity_card=#{identityCard,jdbcType=VARCHAR}
        AND customer_deleted=1
    </select>

    <select id="selectCustomerByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from customer
        where customer_id = #{customer_id,jdbcType=VARCHAR}
    </select>

    <select id="selectAllCustomers" resultMap="BaseResultMap" parameterType="com.yiie.vo.request.CustomerPageReqVO">
        select <include refid="Base_Column_List"></include>
        from customer
        <where>
            customer_deleted=1
            AND customer_id = #{customer_id}
            <if test="customer_identity_card!=null and customer_identity_card!=''">
                AND customer_identity_card=#{customer_identity_card}
            </if>
            <if test="customer_name!=null and customer_name!=''">
                AND customer_name=#{customer_name}
            </if>
            <if test="customer_nickname!=null and customer_nickname!=''">
                AND customer_nickname=#{customer_nickname}
            </if>
            <if test="customer_birthday!=null and customer_birthday!=''">
                AND customer_birthday=#{customer_birthday}
            </if>
            <if test="customer_location!=null and customer_location!=''">
                AND customer_location=#{customer_location}
            </if>
            <if test="customer_hobby!=null and customer_hobby!=''">
                AND customer_hobby=#{customer_hobby}
            </if>
            <if test="customer_disease!=null and customer_disease!=''">
                AND customer_disease=#{customer_disease}
            </if>
            <if test="customer_picture!=null and customer_picture!=''">
                AND customer_picture=#{customer_picture}
            </if>
            <if test="customer_phone!=null and customer_phone!=''">
                AND customer_phone=#{customer_phone}
            </if>
            <if test="customer_fitness_QRCode!=null and customer_fitness_QRCode!=''">
                AND customer_fitness_QRCode=#{customer_fitness_QRCode}
            </if>
            <if test="customer_contacts_id!=null and customer_contacts_id!=''">
                AND customer_contacts_id=#{customer_contacts_id}
            </if>
            <if test="customer_info_id!=null and customer_info_id!=''">
                AND customer_info_id=#{customer_info_id}
            </if>
            <if test="customer_create_time!=null and customer_create_time!=''">
                AND customer_create_time=#{customer_create_time}
            </if>
            <if test="customer_update_time!=null and customer_update_time!=''">
                AND customer_update_time=#{customer_update_time}
            </if>
        </where>
        order by customer_id
    </select>

    <select id="selectCustomerInfoByIdentityCards" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from customer
        where customer_identity_card in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and customer_deleted=1
    </select>

    <select id="getCustomerInfoIdsByIds" resultMap="BaseResultMap">
        select customer_info_id
        from customer
        where customer_id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and customer_deleted=1
    </select>

    <select id="getCustomerInfoIdById">
        select customer_info_id
        from customer
        where customer_id = #{customer_id}
        and customer_deleted=1
    </select>

    <select id="getCustomerContactIdsByIds" resultMap="BaseResultMap">
        select customer_contacts_id
        from customer
        where customer_id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and customer_deleted=1
    </select>
    <select id="getIDCardByUserId" resultType="java.lang.String">
        select customer_identity_card
        from customer
        where customer_id=#{userId}
    </select>
    <select id="getUserInfoByName" resultType="com.yiie.entity.Customer">
        SELECT <include refid="Base_Column_List"></include>
        FROM customer
        WHERE use=#{userName}
        AND deleted=1
    </select>
    <select id="getBackground" resultType="com.yiie.entity.H5Background">
        select * from background where id=1
    </select>
    <select id="getBackgroundByUserId" resultType="com.yiie.entity.H5Background">
        select * from background where id=#{userId}
    </select>

    <insert id="insertSelective" parameterType="com.yiie.entity.Customer">
        insert into customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customer_id != null">
                customer_id,
            </if>
            <if test="customer_identity_card!=null">
                customer_identity_card,
            </if>
            <if test="customer_name!=null">
                customer_name,
            </if>
            <if test="customer_nickname!=null">
                customer_nickname,
            </if>
            <if test="customer_weight!=null">
                customer_weight,
            </if>
            <if test="customer_height!=null">
                customer_height,
            </if>
            <if test="customer_birthday!=null">
                customer_birthday,
            </if>
            <if test="customer_location!=null">
                customer_location,
            </if>
            <if test="customer_hobby!=null">
                customer_hobby,
            </if>
            <if test="customer_disease!=null">
                customer_disease,
            </if>
            <if test="customer_picture!=null">
                customer_picture,
            </if>
            <if test="customer_gender!=null">
                customer_gender,
            </if>
            <if test="customer_phone!=null">
                customer_phone,
            </if>
            <if test="customer_fitness_QRCode!=null">
                customer_fitness_QRCode,
            </if>
            <if test="customer_contacts_id!=null">
                customer_contacts_id,
            </if>
            <if test="customer_info_id!=null">
                customer_info_id,
            </if>
            <if test="customer_create_time!=null">
                customer_create_time,
            </if>
            <if test="customer_update_time!=null">
                customer_update_time,
            </if>
            <if test="customer_deleted!=null">
                customer_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customer_id != null">
                #{customer_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_identity_card != null">
                #{customer_identity_card,jdbcType=VARCHAR},
            </if>
            <if test="customer_name != null">
                #{customer_name,jdbcType=VARCHAR},
            </if>
            <if test="customer_nickname != null">
                #{customer_nickname,jdbcType=VARCHAR},
            </if>
            <if test="customer_weight != null">
                #{customer_weight,jdbcType=DOUBLE},
            </if>
            <if test="customer_height != null">
                #{customer_height,jdbcType=DOUBLE},
            </if>
            <if test="customer_birthday != null">
                #{customer_birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="customer_location != null">
                #{customer_location,jdbcType=VARCHAR},
            </if>
            <if test="customer_hobby != null">
                #{customer_hobby,jdbcType=VARCHAR},
            </if>
            <if test="customer_disease != null">
                #{customer_disease,jdbcType=VARCHAR},
            </if>
            <if test="customer_picture != null">
                #{customer_picture,jdbcType=VARCHAR},
            </if>
            <if test="customer_gender != null">
                #{customer_gender,jdbcType=TINYINT},
            </if>
            <if test="customer_phone != null">
                #{customer_phone,jdbcType=VARCHAR},
            </if>
            <if test="customer_fitness_QRCode != null">
                #{customer_fitness_QRCode,jdbcType=VARCHAR},
            </if>
            <if test="customer_contacts_id != null">
                #{customer_contacts_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_info_id != null">
                #{customer_info_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_create_time != null">
                #{customer_create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="customer_update_time != null">
                #{customer_update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="customer_deleted != null">
                #{customer_deleted},
            </if>
        </trim>
    </insert>
    <insert id="insetBackground">
        INSERT INTO background(id, background, createtime, updatetime) VALUES (#{id}, #{background}, #{createtime}, NULL);
    </insert>
    <insert id="customerInsetBackground">
        INSERT INTO background(id, background, createtime, updatetime) VALUES (#{id}, #{background}, #{createtime}, NULL);
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yiie.entity.Customer">
        update customer
        <set>
            <if test="customer_id != null and customer_id != ''">
                customer_id = #{customer_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_identity_card != null and customer_identity_card != ''">
                customer_identity_card = #{customer_identity_card,jdbcType=VARCHAR},
            </if>
            <if test="customer_name != null and customer_name != ''">
                customer_name = #{customer_name,jdbcType=VARCHAR},
            </if>
            <if test="customer_nickname != null and customer_nickname != ''">
                customer_nickname = #{customer_nickname,jdbcType=VARCHAR},
            </if>
            <if test="customer_weight != null">
                customer_weight = #{customer_weight,jdbcType=DOUBLE},
            </if>
            <if test="customer_height != null">
                customer_height = #{customer_height,jdbcType=DOUBLE},
            </if>
            <if test="customer_birthday != null">
                customer_birthday = #{customer_birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="customer_location != null and customer_location != ''">
                customer_location = #{customer_location,jdbcType=VARCHAR},
            </if>
            <if test="customer_hobby != null and customer_hobby != ''">
                customer_hobby = #{customer_hobby,jdbcType=VARCHAR},
            </if>
            <if test="customer_disease != null and customer_disease != ''">
                customer_disease = #{customer_disease,jdbcType=VARCHAR},
            </if>
            <if test="customer_picture != null and customer_picture != ''">
                customer_picture = #{customer_picture,jdbcType=VARCHAR},
            </if>
            <if test="customer_gender != null">
                customer_gender = #{customer_gender,jdbcType=TINYINT},
            </if>
            <if test="customer_phone != null and customer_phone != ''">
                customer_phone = #{customer_phone,jdbcType=VARCHAR},
            </if>
            <if test="customer_fitness_QRCode != null and customer_fitness_QRCode != ''">
                customer_fitness_QRCode = #{customer_fitness_QRCode,jdbcType=VARCHAR},
            </if>
            <if test="customer_contacts_id != null and customer_contacts_id != ''">
                customer_contacts_id = #{customer_contacts_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_info_id != null and customer_info_id != ''">
                customer_info_id = #{customer_info_id,jdbcType=VARCHAR},
            </if>
            <if test="customer_update_time != null">
                customer_update_time = #{customer_update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="customer_deleted != null">
                customer_deleted = #{customer_deleted,jdbcType=TINYINT},
            </if>
        </set>
        where customer_id = #{customer_id,jdbcType=VARCHAR}
    </update>

    <update id="deletedCustomers" parameterType="com.yiie.entity.Customer">
        update customer
        <set>
            customer_deleted = 0,
            <if test="sysUser.customer_update_time != null">
                customer_update_time = #{sysUser.customer_update_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        where customer_id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>
    <update id="changeBackground" parameterType="com.yiie.entity.H5Background">
        update background set background=#{background},updatetime=#{updatetime} where id=1
    </update>
    <update id="customerChangeBackground">
        update background set background=#{background},updatetime=#{updatetime} where id=#{userId}
    </update>
</mapper>